.section.userGuide#invoiceFlow.box
  - const approvalNo = ['一次承認済み', '二次承認済み', '三次承認済み', '四次承認済み', '五次承認済み', '六次承認済み', '七次承認済み', '八次承認済み', '九次承認済み', '十次承認済み', '最終承認済み']
    .is-family-noto-sans.contractWidth.mb-5
    each requestApproval, idx in requestApprovals
      - const userLen = requestApproval.approveRoute.users.length
      h3 支払依頼
        span 依頼日時：#{requestApproval.requester.requestedAt}
        span 最終更新日：#{requestApproval.requester.updatedAt}
      if(idx < requestApprovals.length -1 )
        #accordion.invoiceFlow
          ul.include-accordion.scroll-control.include-InvoiceFlow
            li.include-accordion-wrap.userGuide-feature
              button.accordionBtn.userGuide-feature-title(type='button').invoiceFlowBox
                span ステータス
                if requestApproval.status === '10'
                  span.btn-status.st-yellowfont
                else if requestApproval.status === '90'
                  span.btn-status.st-redback
                else if requestApproval.status === '00'
                  span.btn-status.st-greenback
                else
                  span.btn-status.st-greenfont #{approvalNo[requestApproval.status-11]}
              ul
                li.invoiceFlowWrap
                  .is-flex
                    .is-inline-block.py-4 【依頼者】
                    .is-inline-block.py-4.mr-4 #{requestApproval.requester.name}
                    .is-inline-block.py-4 【メッセージ】
                    a.py-4.w-1000.td-overflow #{requestApproval.requester.message}
                  table.is-fullwidth.is-hoverable.table-fixed
                    tr.tTitle
                      td 承認順
                      td 日時
                      td 承認状況
                      td 担当者名
                      td メッセージ
                    each user, idx in requestApproval.approveRoute.users
                      tr
                        if idx < userLen - 1
                          td #{approvalNo[idx]}
                        else
                          td #{approvalNo.slice(-1)}
                        td #{user.approvedAt}
                        if user.status === '差し戻し'
                          td.has-text-danger #{user.status}
                        else
                          td #{user.status}
                        if user.firstName === '未設定'
                          td ユーザー登録なし
                        else
                          td #{user.lastName} #{user.firstName}
                        td.has-text-left.td-overflow
                          a #{user.message}
      else
        .invoiceFlow
          ul.include-InvoiceFlow
            li.userGuide-feature
              button.accordionBtn.userGuide-feature-title(type='button').invoiceFlowBox
                span ステータス
                if requestApproval.status === '10'
                  span.btn-status.st-yellowfont
                else if requestApproval.status === '90'
                  span.btn-status.st-redback
                else if requestApproval.status === '00'
                  span.btn-status.st-greenback
                else
                  span.btn-status.st-greenfont #{approvalNo[requestApproval.status-11]}
              ul
                li.invoiceFlowWrap
                  .is-flex
                    .is-inline-block.py-4 【依頼者】
                    .is-inline-block.py-4.mr-4 #{requestApproval.requester.name}
                    .is-inline-block.py-4 【メッセージ】
                    a.py-4.w-1000.td-overflow #{requestApproval.requester.message}
                  table.is-fullwidth.is-hoverable.table-fixed
                    tr.tTitle
                      td 承認順
                      td 日時
                      td 承認状況
                      td 担当者名
                      td メッセージ
                    each user, idx in requestApproval.approveRoute.users
                      tr
                        if idx < userLen - 1
                          td #{approvalNo[idx]}
                        else
                          td #{approvalNo.slice(-1)}
                        td #{user.approvedAt}
                        if user.status === '差し戻し'
                          td.has-text-danger #{user.status}
                        else
                          td #{user.status}
                        if user.firstName === '未設定'
                          td ユーザー登録なし
                        else
                          td #{user.lastName} #{user.firstName}
                        td.has-text-left.td-overflow
                          a #{user.message}

block append scripts
  link(rel='stylesheet', type='text/css', href='/css/approvalInboxApprovRoute.css')
  link(rel='stylesheet', type='text/css', href='/css/accordion.css')
  script(src="/js/accordion.js")