.box.p-3
  .column.m-0.p-0
    .column.p-2#displayRequestApprovaRoute
      - const approvalNo = ['一次承認', '二次承認', '三次承認', '四次承認', '五次承認', '六次承認', '七次承認', '八次承認', '九次承認', '十次承認', '最終承認']
        .column-header.text-inbox.text-inbox-subtitle.text-inbox-common
          | 承認履歴 
        section#displayDetailApproveRouteTable
          .columns.m-0.p-0.is-color-table-header.is-border-left-top
            .column.is-one-fifth.text-left.is-border-right 承認順
            .column.is-one-third.text-left.is-border-right 担当者名
            .column.text-left.is-border-right 承認状況
            .column.is-one-fifth.text-left.is-border-right メッセージ
          each requestApproval, idx in requestApprovals
            - const userLen = requestApproval.approveRoute.users.length
            .columns.m-0.p-0.is-border-left-top
              if idx > 0
                .column.is-one-fifth.text-left.is-border-right 支払再依頼
              else 
                .column.is-one-fifth.text-left.is-border-right #{requestApproval.requester.no}
              .column.is-one-third.text-left.is-border-right #{requestApproval.requester.name}
              .column.text-left.is-border-right #{requestApproval.requester.status} #{requestApproval.requester.requestedAt}
              .column.is-one-fifth.text-left.is-border-right #{requestApproval.requester.message}
            each user, idx in requestApproval.approveRoute.users
              if idx < userLen - 1
                .columns.m-0.p-0.is-border-left-top
                  .column.is-one-fifth.text-left.is-border-right #{approvalNo[idx]}
                  if user.firstName === '未設定'
                    .column.is-one-third.text-left.is-border-right.input-label-required ユーザー登録なし
                  else
                    .column.is-one-third.text-left.is-border-right #{user.lastName} #{user.firstName}
                  if user.status === '処理中'
                    .column.is-align-content-center.is-border-right.is-family-noto-sans-bold #{user.status} #{user.approvedAt}
                  else
                    .column.is-align-content-center.is-border-right #{user.status} #{user.approvedAt}
                  .column.is-one-fifth.text-left.is-border-right #{user.message}
              else
                .columns.m-0.p-0.is-border-left-top-bottom
                  .column.is-one-fifth.text-left.is-border-right #{approvalNo.slice(-1)}
                  .column.is-one-third.text-left.is-border-right  #{user.lastName} #{user.firstName}
                  if user.status === '処理中'
                    .column.is-align-content-center.is-border-right.is-family-noto-sans-bold #{user.status} #{user.approvedAt}
                  else
                    .column.is-align-content-center.is-border-right #{user.status} #{user.approvedAt}
                  .column.is-one-fifth.text-left.is-border-right #{user.message}