extends layout
block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans 契約情報変更
        .subtitle.is-family-noto-sans CONTRACT CHANGE

    .columns.is-centered
      .column.is-11
        .container.is-max-widescreen.is-family-noto-sans
            form#form(action="#")
              input(type='hidden' name='_csrf' value=csrfToken)
              article.panel.is-info
                h2.panel-heading 契約情報変更
                .panel-block
                  .container  
                    .field.card
                      .card-content
                        h5.title.is-5 変更パターンを選択してください。
                        .columns.is-centered
                          .column 
                            h5.subtitle.is-5 変更パターン
                          .column.is-three-quarters
                            label.checkbox
                              input#chkContractorName(type='checkbox' name='chkContractorName' checked=false required)
                              label(for='chkContractorName') 契約者名変更
                            label.checkbox.ml-5 
                              input#chkContractAddress(type='checkbox' name='chkContractAddress' checked=false required)
                              label.textOverflow(for='chkContractAddress') 契約者住所変更
                            label.checkbox.ml-5 
                              input#chkContractContact(type='checkbox' name='chkContractContact' checked=false required)
                              label.textOverflow(for='chkContractContact') 契約者連絡先変更

              .field.card.is-invisible#cardContractorName
                .card-content
                  .title.is-4  契約者名変更
                  .field
                    label(for='contractorName').input-label 契約者名（企業名）
                    p#contractorNameRequired.input-label-required.input-label （必須）
                    p#contractorNameNoInput.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    p#contractorNameWrongInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。
                    .control
                      input.input#contractorName(type='text' name='contractorName' value="" pattern=inputPattarnZenkaku maxlength=80 placeholder='全角80文字まで')
                  .field
                    label(for="contractorKanaName").input-label 契約者カナ名（企業名）
                    p#contractorKanaNameRequired.input-label-required.input-label （必須）
                    p#contractorKanaNameNoInput.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    p#contractorKanaNameWrongInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。
                    .control
                      input.input#contractorKanaName(type="text" name="contractorKanaName" value="" pattern=inputPattarnZenkakuKatakana maxlength=80 placeholder='全角カタカナ80文字まで')
              
              .field.card.is-invisible#cardContractAddress
                .card-content
                  .title.is-4  契約者住所変更
                  
                  .field
                    label(for='postalNumber').input-label 郵便番号
                    p#postalNumberRequired.input-label-required.input-label （必須）
                    p.input-label ※数字7桁　
                    p#postalNumberNoInput.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    p#postalNumberWrongInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。
                    .control
                      .columns.ml-0.pl-0
                        .column.is-one-third.pl-0
                         input.input#postalNumber(type="text" name="postalNumber" value="" pattern=inputPattarnHankakuNumber maxlength=7  placeholder='例：1234567')
                        .column 
                          .field.is-grouped
                            p.control
                              .button.is-link#postalSearchBtn(type="button" data-toggle="modal" data-target="#searchPostalNumber-modal" disabled) 検索
                            p.control
                              .button.is-danger#postalClearBtn(type="button" disabled) クリア

                  .field
                    label(for="contractAddressVal").input-label 住所
                    p#contractAddressValRequired.input-label-required.input-label （必須）
                    p#contractAddressValErrormessage.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    .control
                      input.input#contractAddressVal(type="text" name="contractAddressVal" value readonly)
                  .field
                    label(for="banch1").input-label 番地
                    p#banch1Required.input-label-required.input-label （必須）
                    p#banch1NoInput.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    p#banch1WrongInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。
                    .control
                      input.input#banch1(type="text" name="banch1" value="" pattern=inputPattarnZenkaku maxlength=20 placeholder='全角20文字まで')
                  .field
                    label(for="tatemono1").input-label 建物等　
                    p#tatemono1WrongInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。
                    .control
                      input.input#tatemono1(type="text" name="tatemono1" value="" pattern=inputPattarnZenkaku maxlength=16 placeholder='全角16文字まで')
              
              .field.card.is-invisible#cardContractContact                              
                .card-content
                  .title.is-4  契約者連絡先変更
                  .field
                    label(for="contactPersonName").input-label 連絡先担当者名
                    p#contactPersonNameRequired.input-label-required.input-label （必須）
                    p#contactPersonNameNoInput.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    p#contactPersonNameWrongInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。                    
                    .control
                      input.input#contactPersonName(type="text" name="contactPersonName" value="" pattern=inputPattarnZenkaku maxlength=10 placeholder='全角10文字まで')
                  .field
                    label(for="contactPhoneNumber").input-label 連絡先電話番号
                    p#contactPhoneNumberRequired.input-label-required.input-label （必須）
                    p.input-label ※ハイフン含む13桁まで　
                    p#contactPhoneNumberNoInput.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    p#contactPhoneNumberWorngInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。                   
                    .control
                      input.input#contactPhoneNumber(type="text" name="contactPhoneNumber" value="" pattern=inputPattarnTellNumber maxlength=13 placeholder='例：000-0000-0000')
                  .field
                    label(for="contactMail").input-label 連絡先メールアドレス
                    p#contactMailRequired.input-label-required.input-label （必須）
                    p.input-label ※メールアドレス　
                    p#contactMailNoInput.is-invisible.input-label-required(name='errorMessage') 未入力です。
                    p#contactMailWorongInput.is-invisible.input-label-required(name='errorMessage') 入力値が間違いました。
                    .control
                      input.input#contactMail(type="text" name="contactMail" value="" pattern=inputPattarnMailAddress maxlength=82 placeholder='例：bcd@gma.com')

              .columns.is-centered.changeConfirm
                .control
                  .column
                    div.button-area
                      button.button.is-link.mr-6#next-btn.success-button(type="button" data-target="confirmmodify-modal" disabled) 確認
                      a.button#return-btn.cancel-button(href="portal") 戻る
                      
              .modal.modal-fx-fadeInscale#confirmmodify-modal
                .modal-background.cancel-button(data-target="confirmmodify-modal")
                .modal-card
                  header.modal-card-head
                    p.modal-card-title 契約情報変更
                    button.delete(type="button" data-target="confirmmodify-modal")
                  section.modal-card-body
                    table.table.is-fullwidth.is-bordered
                      tbody.is-invisible#modalContractorName
                        tr
                          th(colspan="3") 契約者名変更
                        tr
                          td.confirmation-item(colspan="2") 契約者名（企業名）（必須）
                          td#recontractorName.checkData
                        tr
                          td.confirmation-item(colspan="2")  契約者カナ名（企業名）（必須）
                          td#recontractorKanaName.checkData

                    table.table.is-fullwidth.is-bordered
                      tbody.is-invisible#modalContractAddress
                        tr
                          th(colspan="3") 契約者住所変更
                        tr
                          td.confirmation-item(colspan="2") 郵便番号（必須）
                          td#repostalNumber.checkData
                        tr
                          td.confirmation-item(colspan="2")  住所（必須）
                          td#recontractAddressVal.checkData
                        tr
                          td.confirmation-item(colspan="2")  番地（必須）
                          td#rebanch1.checkData
                        tr
                          td.confirmation-item(colspan="2")  建物等
                          td#retatemono1.checkData

                    table.table.is-fullwidth.is-bordered
                      tbody.is-invisible#modalContractContact
                        tr
                          th(colspan="3") 契約者連絡先変更
                        tr
                          td.confirmation-item(colspan="2") 連絡先担当者名（必須）
                          td#recontactPersonName.checkData
                        tr
                          td.confirmation-item(colspan="2") 連絡先電話番号（必須）
                          td#recontactPhoneNumber.checkData
                        tr
                          td.confirmation-item(colspan="2")  連絡先メールアドレス（必須）
                          td#recontactMail.checkData
                  footer.modal-card-foot
                    div.button-area
                      a.button.cancel-button.mr-6(data-target='confirmmodify-modal') キャンセル
                      button.button.is-success#submit.success-button(type="submit" formaction="/change" formmethod="POST") 変更

              .modal.modal-fx-fadeInscale#searchPostalNumber-modal
                .modal-background.cancel-button(data-target="searchPostalNumber-modal")
                .modal-card
                  header.modal-card-head
                    p.modal-card-title 住所の検索結果
                    button.delete(type="button" data-target="searchPostalNumber-modal")
                  section.modal-card-body
                    p.modal-card-result#modal-card-result
                  footer.modal-card-foot.modal-address-foot
                    
  include footer

block append scripts
  script(src="/js/change-page.js")
