extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{title}
        .subtitle.is-family-noto-sans #{engTitle}

    .columns.is-centered#contractDetail
      .column.is-11     
        h2.mb-4 ■継続利用サービス
        form.box(method='get')
          table.table.is-fullwidth.is-hoverable.table-fixed
            thead
              tr
                th.width-40.text-center サービス名
                th.width-8.text-center 種類
                th.width-10.text-center 契約番号
                th.text-center ステータス
                th(colspan='2').width-20.text-center ご契約に関する処理 
            tbody
              each contract in continuingContractList
                tr
                  td.ver-mid 
                    .icon-aic 
                      if contract.serviceType === '010'
                        img.mr-3.image.is-48x48(src='../obc/images/ts-app-digitaltrade-appicon.svg')
                        span BConnectionデジタルトレードアプリ フリー
                      else 
                        img.mr-3.image.is-48x48(src='../obc/images/ts-app-digitaltrade-appicon.svg')
                        span BConnectionデジタルトレードアプリ スタンダード
                  td.text-center.ver-mid #{contract.serviceType === '010' ? '無料' : '有料'}
                  td.text-center.ver-mid #{contract.contractNumber ? contract.contractNumber : 'ー'}
                  td.text-center.ver-mid 
                    if contract.contractStatus === '10' || contract.contractStatus === '11' || contract.contractStatus === '12'
                      span.btn-status.st-yellow 申込処理中
                    else if contract.contractStatus === '30' || contract.contractStatus === '31'
                      span.btn-status.st-red 解約処理中
                    else if contract.contractStatus === '40' || contract.contractStatus === '41'
                      span.btn-status.st-white 変更処理中
                    else
                      span.btn-status.st-navy 契約中
                  td.text-center.ver-mid.px-1 
                    if contract.serviceType === '010'
                      button.button.is-success.is-block.btn-contract(type="submit" formaction='/change' disabled=contract.contractStatus !== '00') 契約変更
                  td.text-center.ver-mid.px-1
                    if contract.serviceType === '010'
                      button.button.is-danger.is-block.btn-contract(type="submit" formaction='/cancellation' disabled=(contract.contractStatus !== '00' || continuingContractList.some((i) =>i.serviceType === '030') || oneShotContractList.some((i) =>i.serviceType === '020'))) 解約申請
                    else if contract.serviceType === '030'
                      button.button.is-danger.is-block.btn-contract(type="submit" formaction='/contractCancellation' disabled=contract.contractStatus !== '00') 解約申請

        if oneShotContractList.length > 0
          h2.mb-4.mt-6 ■初回利用サービス
          .box
            table.table.is-fullwidth.is-hoverable.table-fixed
              thead
                tr
                  th.width-40.text-center サービス名
                  th.width-8.text-center 種類
                  th.width-10.text-center 契約番号
                  th.text-center ステータス
                  th(colspan='2').width-20.text-center  
              tbody
                tr
                  td.ver-mid 
                    .icon-aic 
                      img.mr-3.image.is-48x48(src='../obc/images/ts-app-digitaltrade-appicon.svg')
                      span 導入支援サービス
                  td.text-center.ver-mid 有料
                  td.text-center.ver-mid #{oneShotContractList[0].contractNumber ? oneShotContractList[0].contractNumber : 'ー'}
                  td.text-center.ver-mid 
                    if oneShotContractList[0].contractStatus === '10' || oneShotContractList[0].contractStatus === '11'
                      span.btn-status.st-yellow 申込処理中
                    else 
                      span.btn-status.st-white 設定準備中
                  td(colspan='2').text-center.ver-mid.px-1 

    include footer

block append scripts
  //- 画面のcssファイル
  link(rel='stylesheet', type='text/css', href='/css/contractDetail.css')
