extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans 支払依頼一覧
        .subtitle.is-family-noto-sans PAYMENT REQUEST LIST
    .columns.is-centered
      .column.is-11
        .box
          .media-content
              .tabs.is-boxed.is-medium
                ul
                  if rejectedFlag !== true
                    li.is-active
                      a#informationTab
                        span 支払依頼
                    li
                      a#constructTab
                        span 承認待ち
                  else
                    li
                      a#informationTab
                        span 支払依頼
                    li.is-active
                      a#constructTab
                        span 承認待ち                  
              .tab-content
                if rejectedFlag !== true
                  .tab-pane.is-active#informationTab
                    .box
                      h2.title 支払依頼検索　
                        a.button.is-link.i.fas.fa-lock.show-modal(data-target='information-lightplan')
                          .span.is-link.lockBorder 
                          .span.is-link.lockText 検索機能を利用

                    if listArr.length !== 0
                      table.table.is-fullwidth.is-hoverable.table-fixed
                        thead
                          tr 
                            th.text-center.th-padding= `${currItemCount}/${itemCount}`
                          tr
                            th.width-5.text-center No
                            th.width-10.text-center 請求書番号
                            th.width-10.text-center 請求書ステータス
                            th.width-10.text-center 承認ステータス
                            th.width-10.text-center 通貨
                            th.width-10.text-center 金額
                            th.width-10.text-center 送信企業
                            th.width-10.text-center 支払い期限日
                            th.width-10.text-center 更新日
                            th.width-10.text-center
                        tbody.display-row
                          each item in listArr
                            tr
                              th.text-center.td-overflow= item.no
                              td.text-center.td-overflow= item.invoiceNo
                              td.text-center.td-overflow
                                if item.status === 0
                                  a.a-status-PAID_UNCONFIRMED 入金確認済み
                                else if item.status === 1
                                  a.a-status-PAID_CONFIRMED 送金済み
                                else if item.status === 2
                                  a.a-status-ACCEPTED 受理済み
                                else if item.status === 3
                                  a.a-status-DELIVERED 受信済み
                              if item.approveStatus === '10'
                                td.text-center.td-overflow
                                  a.a-approveStatus-WAITING 支払依頼中
                              else if item.approveStatus === '11'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 一次承認済み
                              else if item.approveStatus === '12'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 二次承認済み
                              else if item.approveStatus === '13'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 三次承認済み
                              else if item.approveStatus === '14'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 四次承認済み
                              else if item.approveStatus === '15'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 五次承認済み
                              else if item.approveStatus === '16'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 六次承認済み
                              else if item.approveStatus === '17'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 七次承認済み
                              else if item.approveStatus === '18'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 八次承認済み
                              else if item.approveStatus === '19'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 九次承認済み
                              else if item.approveStatus === '20'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 十次承認済み
                              else if item.approveStatus === '00'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVED 最終承認済み
                              else if item.approveStatus === '90'
                                td.text-center.td-overflow
                                  a.a-approveStatus-RETURNED 差し戻し
                              else
                                td.text-center.td-overflow
                                  a.a-approveStatus-UNTREATED 未処理
                              td.text-center.td-overflow= item.currency
                              td.text-center.td-overflow= item.ammount
                              td.text-center.td-overflow= item.sentTo
                              td.text-center.td-overflow= item.expire
                              td.text-center.td-overflow= item.updated
                              td.text-center.display-row-td
                                a.button.is-success.td-overflow.display-row-td-button.set-journal-button(href=`/inbox/${item.documentId}`) 仕訳情報設定
                      nav.pagination.is-centered(role='navigation' aria-label='pagination')
                        - var page = currPage % 5 === 0 ? currPage - 4 : ~~(currPage / 5) * 5 + 1
                        - var maxPageNo = ~~(page / 5) * 5 + 5 + 1
                        if (page - 1 !== 0)
                          a.pagination-previous(href= `/inboxList/${page - 1}`) <<
                        else
                          a.a-previous-none <<
                        if maxPageNo < numPages
                          a.pagination-next(href= `/inboxList/${maxPageNo}`) >>
                        else
                          a.a-next-none >>

                        ul.pagination-list
                          while page < (maxPageNo < numPages ? maxPageNo : numPages + 1)
                            li
                              if page === currPage
                                a.pagination-link.is-current(aria-label= `${page}ページへ移動` href= `/inboxList/${page}`)= page++
                              else
                                a.pagination-link(aria-label= `${page}ページへ移動` href= `/inboxList/${page}`)= page++
                    else
                     if message
                      p= message
                     else
                      p 現在、受領した請求書一覧はありません。

                  .tab-pane#constructTab
                    table.table.is-fullwidth.is-hoverable.table-fixed
                      thead
                        tr
                          th.width-5.text-center No
                          th.width-10.text-center 請求書番号
                          th.width-10.text-center 請求書ステータス
                          th.width-10.text-center 承認ステータス
                          th.width-10.text-center 通貨
                          th.width-10.text-center 金額
                          th.width-10.text-center 送信企業
                          th.width-10.text-center 支払い期限日
                          th.width-10.text-center 更新日
                          th.width-10.text-center
                      tbody.display-row           
                else
                  .tab-pane#informationTab
                    .box
                      h2.title 支払依頼検索　
                        a.button.is-link.i.fas.fa-lock.show-modal(data-target='information-lightplan')
                          .span.is-link.lockBorder
                          .span.is-link.lockText 検索機能を利用
                    if listArr.length !== 0
                      table.table.is-fullwidth.is-hoverable.table-fixed
                        thead
                          tr 
                            th.text-center.th-padding= `${currItemCount}/${itemCount}`
                          tr
                            th.width-5.text-center No
                            th.width-10.text-center 請求書番号
                            th.width-10.text-center 請求書ステータス
                            th.width-10.text-center 承認ステータス
                            th.width-10.text-center 通貨
                            th.width-10.text-center 金額
                            th.width-10.text-center 送信企業
                            th.width-10.text-center 支払い期限日
                            th.width-10.text-center 更新日
                            th.width-10.text-center
                        tbody.display-row
                          each item in listArr
                            tr
                              th.text-center.td-overflow= item.no
                              td.text-center.td-overflow= item.invoiceNo
                              td.text-center.td-overflow
                                if item.status === 0
                                  a.a-status-PAID_UNCONFIRMED 入金確認済み
                                else if item.status === 1
                                  a.a-status-PAID_CONFIRMED 送金済み
                                else if item.status === 2
                                  a.a-status-ACCEPTED 受理済み
                                else if item.status === 3
                                  a.a-status-DELIVERED 受信済み
                              if item.approveStatus === '10'
                                td.text-center.td-overflow
                                  a.a-approveStatus-WAITING 支払依頼中
                              else if item.approveStatus === '11'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 一次承認済み
                              else if item.approveStatus === '12'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 二次承認済み
                              else if item.approveStatus === '13'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 三次承認済み
                              else if item.approveStatus === '14'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 四次承認済み
                              else if item.approveStatus === '15'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 五次承認済み
                              else if item.approveStatus === '16'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 六次承認済み
                              else if item.approveStatus === '17'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 七次承認済み
                              else if item.approveStatus === '18'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 八次承認済み
                              else if item.approveStatus === '19'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 九次承認済み
                              else if item.approveStatus === '20'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVING 十次承認済み
                              else if item.approveStatus === '00'
                                td.text-center.td-overflow
                                  a.a-approveStatus-APPROVED 最終承認済み
                              else if item.approveStatus === '90'
                                td.text-center.td-overflow
                                  a.a-approveStatus-RETURNED 差し戻し
                              else
                                td.text-center.td-overflow
                                  a.a-approveStatus-UNTREATED 未処理
                              td.text-center.td-overflow= item.currency
                              td.text-center.td-overflow= item.ammount
                              td.text-center.td-overflow= item.sentTo
                              td.text-center.td-overflow= item.expire
                              td.text-center.td-overflow= item.updated
                              td.text-center.display-row-td
                                a.button.is-success.td-overflow.display-row-td-button.set-journal-button(href=`/inbox/${item.documentId}`) 仕訳情報設定
                      nav.pagination.is-centered(role='navigation' aria-label='pagination')
                        - var page = currPage % 5 === 0 ? currPage - 4 : ~~(currPage / 5) * 5 + 1
                        - var maxPageNo = ~~(page / 5) * 5 + 5 + 1
                        if (page - 1 !== 0)
                          a.pagination-previous(href= `/inboxList/${page - 1}`) <<
                        else
                          a.a-previous-none <<
                        if maxPageNo < numPages
                          a.pagination-next(href= `/inboxList/${maxPageNo}`) >>
                        else
                          a.a-next-none <<

                        ul.pagination-list
                          while page < (maxPageNo < numPages ? maxPageNo : numPages + 1)
                            li
                              if page === currPage
                                a.pagination-link.is-current(aria-label= `${page}ページへ移動` href= `/inboxList/${page}`)= page++
                              else
                                a.pagination-link(aria-label= `${page}ページへ移動` href= `/inboxList/${page}`)= page++
                    else
                      p 現在、受領した請求書一覧はありません。

                  .tab-pane#constructTab
                    table.table.is-fullwidth.is-hoverable.table-fixed
                      thead
                        tr
                          th.width-5.text-center No
                          th.width-10.text-center 請求書番号
                          th.width-10.text-center 請求書ステータス
                          th.width-10.text-center 承認ステータス
                          th.width-10.text-center 通貨
                          th.width-10.text-center 金額
                          th.width-10.text-center 送信企業
                          th.width-10.text-center 支払い期限日
                          th.width-10.text-center 更新日
                          th.width-10.text-center
                      tbody.display-row
        .mt-1.has-text-left
          a.button.is-link.is-light(href='/portal') ←Homeへ戻る

    .modal.modal-fx-fadeInscale#checkStatus-modal
     .modal-background.cancel-button(data-target="checkStatus-modal")
     .modal-card
       header.modal-card-head
         p.modal-card-title ステータス
         button.delete(type="button" data-target="checkStatus-modal")
       section.modal-card-body
         p.modal-card-result#modal-card-checkStatus
       footer.modal-card-foot
         div.button-area
          a.button.cancel-button(data-target="checkStatus-modal") 確認
    .modal.modal-fx-fadeInscale#search-progress-modal
        .modal-background
        .modal-card
          header.modal-card-head
            p.modal-card-title
          section.modal-card-body
            center
              img(src="/image/loading_progress.gif")
              p.modal-card-result#modal-card-result 処理中
          footer.modal-card-foot    
    .modal.modal-fx-fadeInscale#setjounal-progress-modal
        .modal-background
        .modal-card
          header.modal-card-head
            p.modal-card-title 支払依頼一覧
          section.modal-card-body
            center
              img(src="/image/loading_progress.gif")
              p.modal-card-result#modal-card-result 処理中
          footer.modal-card-foot      
    
    include informationLightplanModal

  include footer

block append scripts
  script(src="/js/inboxList-page.js")
  link(rel='stylesheet', type='text/css', href='/css/inboxList.css')