.box#invoiceTotal
  .columns.m-0.p-0
    .column.m-0.p-0
    .column.m-0.p-0
      if subtotal
        .columns.m-0.p-0
          .column.m-0.p-0
            | 小計（税抜）
          .column.m-0.p-0.text-right
            | #{subtotal.toLocaleString()}
      if allowanceTotalAmount
        .columns.m-0.p-0
          .column.m-0.p-0
            | 割引
          .column.m-0.p-0.text-right
            | #{(-allowanceTotalAmount).toLocaleString()}
      if chargeTotalAmount
        .columns.m-0.p-0
          .column.m-0.p-0
            | 追加料金
          .column.m-0.p-0.text-right
            | #{chargeTotalAmount.toLocaleString()}
      each subtotal in taxSubtotal
        if subtotal.taxCategoryId === 'G' || subtotal.taxCategoryId === 'Z'
          .columns.m-0.p-0
            .column.m-0.p-0
              | #{subtotal.taxableAmount.toLocaleString()}の#{subtotal.categoryName}
            .column.m-0.p-0.text-right
              | #{subtotal.taxAmount.toLocaleString()}
        else
          .columns.m-0.p-0
            .column.m-0.p-0
              | #{subtotal.taxableAmount.toLocaleString()}の#{subtotal.categoryName}
            .column.m-0.p-0.text-right
              | #{subtotal.taxAmount.toLocaleString()}
      if payableAmount
        .columns.m-0.p-0
          .column.m-0.p-0.text-inbox.text-inbox-common.text-inbox-subtitle
            | 合計 円
          .column.m-0.p-0.text-right.text-inbox-subtitle
            | #{payableAmount.toLocaleString()}
      if subtotalOftax
        .columns.m-0.p-0
          .column.m-0.p-0
            | 税額合計 #{subtotalOftax.toLocaleString()} 円
      if taxExRate
        .columns.m-0.p-0
          .column.m-0.p-0
            | Tax exchange rate #{taxExRate.sourceCurrCode} to  #{taxExRate.targetCurrCode}：#{taxExRate.calculationRate} (#{taxExRate.date})
      each transTaxAmount, key in transactionCurrTaxAmount
        .columns.m-0.p-0
          .column.m-0.p-0
            | #{key}の税金合計：#{transTaxAmount.toLocaleString()}
      if extenstionContent
        .columns.m-0.p-0
          .column.m-0.p-0
            | Document total converted in #{taxExRate.targetCurrCode}：#{extenstionContent}
