
doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title #{title} - BConnectionデジタルトレード
      link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
      link(rel='stylesheet', type='text/css', href='/css/bulma.css')
      link(rel='stylesheet', type='text/css', href='/css/modal-fx.css')
      link(rel='stylesheet', type='text/css', href='/css/hover.css')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      link(rel='stylesheet', type='text/css', href='/css/animate.min.css')

  body.has-navbar-fixed-top
    .navbar.is-dark.is-fixed-top
        .navbar-brand.is-family-noto-sans-bold
          if title !== 'ポータル'
            .navbar-item BConnectionデジタルトレード
            //- a.navbar-brand(href='/') BConnectionデジタルトレード
            a.navbar-item(href='/') 
              span.fas.fa-home
                | Home
          .navbar-item.right
            img.ncom-logo(src='../image/ts-app-digitaltrade-ncom-logo.svg')
    
    block vars
      - var inputPattarnZenkakuHiragana = '^[^ -~｡-ﾟ\t]+$' // 全角ひらがな
      - var inputPattarnZenkaku = '^[^\x01-\x7E\uFF61-\uFF9F]+$' // 全角文字
      - var inputPattarnZenkakuKatakana = '^[ァ-ヶー]+$' // 全角カタカナ
      - var inputPattarnHankakuNumber = '[0-9]{7}' //半角数値　7文字固定
      - var inputPattarnTellNumber = '^([0-9]{1,4})-([0-9]{1,4})-([0-9]{1,4})'// 電話番号（-あり）
      - var inputPattarnMailAddress = '^[a-zA-Z0-9-._+]+@[a-zA-Z0-9-._+]+$' // メールアドレス（緩めの条件）
      - var inputPatternKaituPW = '^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d]{8,10}$' // 開通パスワード 大文字小文字数字必須 8~10文字
      - var inputPatternCampaignCode = '^([a-zA-Z0-9]{1,10})$' // キャンペーンコード 半角英数
      - var inputPattarnHankakuSeisu = '^[1-9][0-9]{0,6}$' //１以上の半角整数
      - var inputPatternEngNum = '^[a-zA-Z0-9]*$' // 英数字のみ
      - var inputPatternEngNumKana = '^[a-zA-Z0-9ァ-ヶー]*$' // 英数字カナのみ
    block content

    if messages.info
      #message-info(title= messages.info[0])

    if messages.error
      #message-error(title= messages.error[0])

    if messages.noti
      .modal.modal-fx-fadeInscale#confirmmodify-modal.is-active
              .modal-background.cancel-button(data-target="confirmmodify-modal")
              .modal-card
                header.modal-card-head
                  p.modal-card-title= messages.noti[0]
                  button.delete(type="button" data-target="confirmmodify-modal")
                section.modal-card-body
                  if messages.noti[2] === 'SYSERR'
                    p.color-err-message !{messages.noti[1]}
                  else
                    p !{messages.noti[1]}
                footer.modal-card-foot

    if messages.errnoti
      .modal.modal-fx-fadeInscale#errorConfirmmodify-modal.is-active
              .modal-background.cancel-button(data-target="errorConfirmmodify-modal")
              .modal-card.errnoti-model-size
                header.modal-card-head
                  p.modal-card-title= messages.errnoti[0]
                  button.delete(type="button" data-target="errorConfirmmodify-modal")
                section.modal-card-body
                  if messages.errnoti[2] === 'SYSERR'
                    p.color-err-message !{messages.errnoti[1]}
                  else
                    p !{messages.errnoti[1]}
                if messages.errnoti[3]
                 section.modal-card-body
                  div
                    table.table.errnoti-table-size
                      thead
                        tr
                        each header in messages.errnoti[3][0].header
                          th.text-center= header
                      tbody
                       if messages.errnoti[3][0].header.length === 5
                        - for (var i =1; i < messages.errnoti[3].length; i++)
                          tr
                            td.errnoti-table-number.text-center= messages.errnoti[3][i].idx
                            td.errnoti-table-td= messages.errnoti[3][i].accountCode
                            td.errnoti-table-td= messages.errnoti[3][i].subjectCode
                            td.errnoti-table-td= messages.errnoti[3][i].subjectName
                            td= messages.errnoti[3][i].errorData
                       else
                        - for (var i =1; i < messages.errnoti[3].length; i++)
                          tr
                            td.errnoti-table-number.text-center= messages.errnoti[3][i].idx
                            td.errnoti-table-td= messages.errnoti[3][i].code
                            td.errnoti-table-td= messages.errnoti[3][i].name
                            td= messages.errnoti[3][i].errorData

                footer.modal-card-foot
    
    if messages.alertNotification
      .modal.modal-fx-fadeInscale#alertNotification-modal.is-active    
              .modal-background.cancel-button(data-target="alertNotification-modal")
              .modal-card
                header.modal-card-head
                  p.modal-card-title= messages.alertNotification[0]
                  button.delete(type="button" data-target="alertNotification-modal")
                section.modal-card-body
                  p.color-err-message !{messages.alertNotification[1].split('\n')[0]}
                  p.color-err-message !{messages.alertNotification[1].split('\n')[1]}
                
                footer.modal-card-foot
                  div.button-area
                    a.button.cancel-button(data-target='alertNotification-modal') 確認

    block scripts
      script(src="/js/common-page.js")