block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{title}
        .subtitle.is-family-noto-sans #{engTitle}

    .columns.is-centered
      .column.is-11
        a.button.is-link.mb-4(href="/pdfInvoices/register") 新規作成
        
        .box
          if listArr.length === 0
            p 現在、PDF請求書はありません。新規登録するボタンから登録を行ってください。
          else
            table.table.is-fullwidth.is-hoverable.table-fixed
              thead
                tr
                  th.width-5.text-center No
                  th.width-13.text-center 請求書番号
                  th.width-13.text-center 宛先
                  th.width-10.text-center 金額
                  th.width-10.text-center 更新日
                  th.width-10.text-center 期限日
                  th.width-10.text-center ステータス
                  th.width-10.text-center 
              tbody
                - var list = listArr
                each item, index in list
                  tr(id= item.invoiceId)
                    th.text-center.td-overflow= index + 1
                    td.text-center.td-overflow= item.invoiceNo
                    td.text-center.td-overflow= item.recCompany
                    td.text-center.td-overflow= item.total
                    td.text-center.td-overflow= item.updatedAt
                    td.text-center.td-overflow= item.paymentDate
                    td.text-center.td-overflow= item.tmpFlg ? '出力済み' : 'ドラフト'
                    td.text-center
                      if item.tmpFlg
                        a.button.is-success(href=`/pdfInvoices/show/${item.invoiceId}`) 確認・出力
                      else
                        a.button.is-success(href=`/pdfInvoices/edit/${item.invoiceId}`) 編集・出力
                      
    include footer
