block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{title}
        .subtitle.is-family-noto-sans #{engTitle}

    .columns.is-centered
      .column.is-11
        a.button.is-link.mb-4(href="/registSubAccountCode") #{btnNameForRegister}
        
        .box
          if listArr.length === 0
            p #{messageForNotItem}
          else
            table.table.is-fullwidth.is-hoverable.table-fixed
              thead
                tr
                  th.width-5.text-center #{listNo}
                  th.width-13.text-center #{subjectCode}
                  th.width-13.text-center #{subjectName}
                  th.width-13.text-center #{accountCodeName}
                  th.width-10.text-center 
                  th.width-10.text-center 
              tbody
                - var list = listArr
                each item in list
                  tr
                    th.text-center.td-overflow= item.no
                    td.text-center.td-overflow= item.subjectCode
                    td.text-center.td-overflow= item.subjectName
                    td.text-center.td-overflow= item.accountCodeName                 
                    td.text-center
                      a.button.is-success(class= setClassChangeBtn name='confirmButton' href=`/subAccountCodeEdit/${item.subAccountCodeId}`) 確認・変更する
                    td
                      a.button.is-danger.show-modal(class= setClassDeleteBtn name='deleteButton' data-target = "code-delete-modal" uuid= item.subAccountCodeId) 削除
        .mt-1.has-text-left
          a.button.is-link.is-light(href= prevLocation) #{prevLocationName}

        .modal.modal-fx-fadeInscale#code-delete-modal
              .modal-background.cancel-button(data-target="code-delete-modal")
              .modal-card
                header.modal-card-head
                  p.modal-card-title #{deleteModalTitle}
                  button.delete(type="button" data-target="code-delete-modal")
                section.modal-card-body
                  p 削除しますか？
                   input.input#modalUuid(type = "hidden" value = '')
                footer.modal-card-foot
                  div.button-area
                    a.button.cancel-button(data-target='code-delete-modal') キャンセル
                    a.button.is-danger.ml-6#modalCodeDelBtn(name='modalCodeDelBtn') 削除
    include footer