block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{title}
        .subtitle.is-family-noto-sans #{engTitle}

    .columns.is-centered
      .column.is-11
        a.button.is-link.mb-4(href="/registSubAccountCode") #{btnNameForRegister}
        
        .box
          if listArr.length === 0
            p #{messageForNotItem}
          else
            table.table.is-fullwidth.is-hoverable.table-fixed
              thead
                tr
                  th.width-5.text-center #{listNo}
                  th.width-10.text-center #{subjectCode}
                  th.width-13.text-center #{subjectName}
                  th.width-13.text-center #{accountCodeName}
                  th.width-10.text-center 
                  th.width-10.text-center 
              tbody
                - var list = listArr
                each item in list
                  tr
                    th.text-center.td-overflow= item.no
                    td.text-center.td-overflow= item.subjectCode
                    td.text-center.td-overflow= item.subjectName
                    td.text-center.td-overflow= item.accountCodeName                 
                    td.text-center
                      a.button.is-success(class= setClassChangeBtn name='confirmButton' href=`/subAccountCodeEdit/${item.subAccountCodeId}`) 確認・変更する
                    td.show-modal
                      a.button.is-danger(class= setClassDeleteBtn name='deleteButton') 削除
        .mt-1.has-text-left
          a.button.is-link.is-light(href= prevLocation) #{prevLocationName}

    include footer