extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{title}
        .subtitle.is-family-noto-sans #{engTitle}

  .section#termBox
    .is-family-noto-sans.contractWidth.mb-5
      - var introduction = '020' // 導入支援サービス
      - var standard = '030' // スタンダードプラン
      form#form(method="post")
        article.panel.is-info
          h2.panel-heading 有料プランご利用にあたって
          .panel-block
            .container
              .columns.is-centered: .column.mt-4.pb-0
                .field.is-grouped.is-grouped-left.is-block.box
                  h3 ご利用希望サービス
                    span （必須）
                  .termWrap.my-5  
                    label.checkbox
                      input.serviceCheckboxes(type='checkbox', name='services[]', value=standard, disabled=paidServiceInfo.standardDisabled, checked=paidServiceInfo.standardChecked)
                      span.termCheck スタンダードプラン
                    label.checkbox
                      input.serviceCheckboxes(type='checkbox', name='services[]', value=introduction, disabled=paidServiceInfo.introductionSupportDisabled, checked=paidServiceInfo.introductionSupportChecked)
                      span.termCheck 導入支援サービス
                .field.is-grouped.is-grouped-left.is-block.mt-6
                  h3.my-3.has-text-centered 【必ずご確認下さい】申込みに関する注意事項
                .serviceBox.mb-6.searchResultBox#standard(class=paidServiceInfo.standardChecked ? '' :'is-hidden')     
                  h3.my-3 契約の開始
                  ul 
                    li 利用規約に基づく契約の成立は、お客様の利用申込を当社が承諾した日をもって成立するものとします。
                    li サービスの提供開始は、原則、お申し込み時にお客様が指定頂いた利用開始日となります。導入支援サービスを同時にお申し込みいただいた場合は、利用開始日を個別調整します。
                  h3.my-3 料金等
                  h4 ◇月額料金
                  table.mb-2
                    tr 
                      th プラン名
                      th 月額
                    tr 
                      td Bconnectionデジタルトレード スタンダード
                      td 
                        | 40,000円<br>(税込:44,000円) 
                  p ※本プランでは、請求書受取が500件/月まで可能
                  h4 ■上限件数
                  ul 
                    li 請求書の受取件数の上限は500件までとなります。
                    li 上限件数を超えたご利用となる場合、請求書100件ごとにつき10,000円（税込11,000円）の追加利用料金が発生します。
                      p 例：501～600件の場合、50,000円(税込:55,000円) 
                      p 　　601～700件の場合、60,000円(税込:66,000円) 
                  h4 ■支払い方法
                  ul 
                    li 本サービスは月額払いとなります。
                    li お客様は当社が請求書にて通知する期日・銀行口座へお支払いください。
                    li 本サービスは利用開始日を含む月の翌月の初日から起算して、契約の解除があった日を含む料金月の末日までの期間について料金が発生します。
                    li ただし、利用開始日を含む月と契約の解除があった日が同年同月であった場合は、該当月の利用料金も発生します。
                      p 例：（契約の開始）7月15日利用開始日の場合、8月分より利用料金が発生。ただし、その後同年同月の7月25日に解約した場合は、7月分も利用料金が発生。
                      p 　　（契約の解除）12月1日に解約した場合は、12月分の利用料金が発生。
                  h4 ■延滞利息
                  ul 
                    li 支払期日を経過しても料金のお支払いがない場合には、支払期日の翌日から支払の日の前日までの日数について、年14.5％の割合で計算して得た額を延滞利息としてお支払いください。 
                  h3.my-3 契約の解約
                  ul 
                    li お客様が契約の解約をする際は、「BConnectionデジタルトレード アプリ」上から解約申込いただきます。
                    li お客様の解約申込日の当月まで利用料金が発生します。
                    li サービスの提供は、原則、お客様の解約申込日の当日をもって終了するものとします。
                  h3.my-3 提供注意事項
                  ul 
                    li 本サービスのメール通知機能は、メール到達を保証するものではありません。
                    li 本サービスのメール通知機能は、サービス全体のご利用が集中した場合、遅延が発生する可能性があります。
                  h3.my-3 免責
                  ul 
                    li 免責事項についてはサービス利用規約（「BConnectionデジタルトレードアプリケーション利用規約」）を参照ください。
                  h3.my-3 サービス利用規約
                  ul 
                    li 本サービスの申し込みにより、「BConnectionデジタルトレードアプリケーション利用規約」同意したこととみなされます。
                    li 尚、全てにおいて、「BConnectionデジタルトレードアプリケーション利用規約」に記載された事項が優先して適用されます。
                  h4.mb-0 ■BConnectionデジタルトレードアプリケーション利用規約
                  a(href='https://www.ntt.com/about-us/disclosure/tariff/yakkan.html' target='_blank') https://www.ntt.com/about-us/disclosure/tariff/yakkan.html
                  h3.my-3 サービス・故障に関する問い合わせ
                  ul 
                    li サービス・故障に関するお問い合わせは、以下よりご連絡ください。
                      p https://support.ntt.com/bconnection
                    li お問い合わせの際には、お客様番号（Nから始まる弊社からお知らせしている10桁の文字列）が必要となりますのでご注意ください。

                .serviceBox.mb-6.searchResultBox#introductionSupport(class=paidServiceInfo.introductionSupportChecked ? '' :'is-hidden')     
                  h3.my-3 契約の開始
                  ul 
                    li 利用規約に基づく契約の成立は、お客様の利用申込を当社が承諾した日をもって成立するものとします。
                  h3.my-3 料金等
                  h4 ■支払い方法
                  ul 
                    li 本サービスの工事費は一括後払いとなります。
                    li お客様は当社が請求書にて通知する期日・銀行口座へお支払いください。
                  h4 ■延滞利息
                  ul 
                    li 支払期日を経過しても料金のお支払いがない場合には、支払期日の翌日から支払の日の前日までの日数について、年14.5％の割合で計算して得た額を延滞利息としてお支払いください。
                  h3.my-3 提供注意事項
                  h4 ■実施内容コンサル
                  ul 
                    li お客様からのお申し込みを確認後、実施内容コンサルを実施するにあたりまして、弊社から連絡をいたします（混雑状況により数日お時間をいただくことがございます）
                    li 実施内容コンサルにより、実施内容と完了予定日を決定いたします（実施内容によりましては、最長で2か月程度要する場合がございます。そのため、完了予定日が変更となる可能性もございます）
                    li 実施内容コンサルの確定（パラメータシート、納期、工事費の確定）に至るまでの間に、お客様と連絡の取れない状態が15日間続いた場合、解約手続きを進めさせていただく場合がございます。
                  h4 ■設定代行
                  ul 
                    li 実施内容コンサルの確定後は、原則実施内容の変更はいたしかねますが、状況により対応が可能となる場合もございますので、速やかにご連絡をお願いいたします。
                    li 実施内容コンサルの確定後は、実施が不要となった内容に関しても請求をいたしますが、速やかにご連絡をお願いいたします。
                    li 取引先登録は、招待メールを送るまでを実施内容といたします（取引先様への説明、導入支援はお客様にて実施いただくか、取引先様に導入支援サービスをお申込みいただけますようお願いします）
                    li 弊社での設定実施中には、お客様での設定変更は実施されませんようお願いいたします。
                  h4 ■実施完了後
                  ul 
                    li 弊社から実施完了の連絡後、お客様でも設定等の代行内容につきましてご確認をお願いいたします。ご質問に関しましては10営業日以内にいただけますようお願いいたします。
                    li 再度導入支援を希望される場合は、改めて本サービスへのお申込みをお願いいたします。
                  h4 ■その他
                  ul 
                    li 本サービスで支援を実施する内容も含め、各種操作説明動画を用意しています。動画は弊社公式YouTubeサイトに公開しており、順次内容を追加してまいります。詳細は下記をご参照ください。
                      p https://www.youtube.com/user/NTTCommunicationsJP/videos 
                  h3.my-3 免責
                  ul 
                    li 免責事項についてはサービス利用規約（「BConnectionデジタルトレードアプリケーション利用規約」）を参照ください。
                  h3.my-3 サービス利用規約
                  ul 
                    li 本サービスの申し込みにより、「BConnectionデジタルトレードアプリケーション利用規約」同意したこととみなされます。
                    li 尚、全てにおいて、「BConnectionデジタルトレードアプリケーション利用規約」に記載された事項が優先して適用されます。
                  h4.mb-0 ■BConnectionデジタルトレードアプリケーション利用規約
                  a(href='https://www.ntt.com/about-us/disclosure/tariff/yakkan.html' target='_blank') https://www.ntt.com/about-us/disclosure/tariff/yakkan.html
                  h3.my-3 サービス・故障に関する問い合わせ
                  ul 
                    li サービス・故障に関するお問い合わせは、以下よりご連絡ください。
                      p https://support.ntt.com/bconnection
                    li お問い合わせの際には、お客様番号（Nから始まる弊社からお知らせしている10桁の文字列）が必要となりますのでご注意ください。

                .termText
                  p.has-text-centered.mb-1 デジタルトレードアプリ利用規約につきましては下記リンクよりご確認ください。
                  a.is-inline-flex.is-justify-content-center.is-align-items-center.iconLink(href='/html/terms-of-service_20220419.pdf' target="_blank" rel="noopener noreferrer")
                    span.panel-icon
                      i.fas.fa-chevron-circle-right
                    p デジタルトレードアプリ利用規約   
              .columns.is-centered: .column.is-four-fifths
                .field.is-horizontal.is-grouped.is-grouped-centered
                  .control: label.checkbox
                    input.is-normal#check(name="termsCheck" type="checkbox" required="required")
                    span.checkboxtext 重要事項説明・利用規約に同意します
              .columns.is-centered: .column.is-four-fifths.mb-6.mt-4
                .field.is-grouped.is-grouped-centered
                  .control
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button.button.is-link#next-btn(type="submit" formaction="/paidServiceRegister/showForm" disabled) お申し込み内容入力へ
    include footer

block append scripts
  link(rel='stylesheet', type='text/css', href='/css/contractCancellation.css')
  link(rel='stylesheet', type='text/css', href='/css/paidServiceRegister.css')
  script(src="/js/common/common.js")
  script(src="/js/paidServiceRegisterTerms-page.js")