extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{title}
        .subtitle.is-family-noto-sans #{engTitle}

  .section#termBox
    .is-family-noto-sans.contractWidth.mb-5
      - var introduction = '020' // 導入支援サービス
      - var standard = '030' // スタンダードプラン
      form#form(method="post")
        article.panel.is-info
          h2.panel-heading 有料プランご利用にあたって
          .panel-block
            .container
              .columns.is-centered: .column.mt-4.pb-0
                .field.is-grouped.is-grouped-left.is-block.box
                  h3 ご利用希望サービス
                    span （必須）
                  .termWrap.my-5  
                    label.checkbox
                      input.serviceCheckboxes(type='checkbox', name='services', value=standard, disabled=paidServiceInfo.standardDisabled, checked=paidServiceInfo.standardChecked)
                      span.termCheck スタンダードプラン
                    label.checkbox
                      input.serviceCheckboxes(type='checkbox', name='services', value=introduction, disabled=paidServiceInfo.introductionSupportDisabled, checked=paidServiceInfo.introductionSupportChecked)
                      span.termCheck 導入支援サービス
                .field.is-grouped.is-grouped-left.is-block.mt-6
                  h3.my-3.has-text-centered 【必ずご確認下さい】申込みに関する注意事項
                .serviceBox.mb-6.searchResultBox#standard(class=paidServiceInfo.standardChecked ? '' :'is-hidden')     
                  h3.my-3 料金等
                  h4 ■料金
                  p ◇月額料金
                  table.mb-2
                    tr 
                      th プラン名
                      th 月額
                    tr 
                      td スタンダード
                      td 
                        | 40,000円<br>(税込:44,000円) 
                  p ◇工事費
                  table
                    tr 
                      th プラン名
                      th 月額
                    tr 
                      td 導入支援サービス（基本）
                      td 
                        | 100,000円<br>(税込:110,000円)  
                    tr 
                      td 導入支援サービス（オプション）
                      td 
                        | 詳細は別途参照
                  h4 ■上限件数
                  ul 
                    li 請求書の受取件数、もしくは発行件数の上限は500件までとさせていただきます
                    li 上限件数を超えたご利用となる場合、請求書100件ごとにつき10,000円（税込11,000円）の追加利用料金を頂戴します
                  h4 ■支払い方法
                  ul 
                    li 原則、月額払いとさせていただきます
                    li 1回目の料金月は利用開始日の翌月とし、以降月額料金を頂戴します
                    li お客様は当社が定める期日までに、当社が指定する方法により料金等をお支払いいただきます
                  h4 ■延滞利息
                  ul 
                    li 支払期日を経過しても料金のお支払いがない場合には、支払期日の翌日から支払の日の前日までの日数について、年14.5％の割合で計算して得た額を延滞利息としてお支払いいただきます
                    li 1回目の料金月は利用開始日の翌月とし、以降月額料金を頂戴します
                    li お客様は当社が定める期日までに、当社が指定する方法により料金等をお支払いいただきます 
                  h3.my-3 契約期間について
                  ul 
                    li 利用規約に基づく契約の成立は、お客様の利用申込を当社が受領した日をもって成立するものとします
                    li サービスの提供期間は、原則、お客様が利用申し込み時にしてい頂いた利用開始日より開始するものとします
                    li 最低利用期間の定めはございません
                  h3.my-3 契約の変更と解約
                  ul 
                    li お客様が契約の変更もしくは解約をする際は、当社の指定する手段で解約の通知をしていただきます
                    li お客様の解約通知日の当月まで月額料金を頂戴します
                    li サービスの提供期間は、原則、お客様の解約通知日の当月末日をもって終了するものとします
                    li 利用開始日の当月中に解約の場合は、1ヵ月分の月額料金を頂戴します  
                  h3.my-3 免責
                  ul 
                    li 当社はお客様に対し、以下を保証するものではありません
                      p (1) 本サービスが他人の権利を侵害しないこと
                      p (2) 本サービスが契約者の期待通りの性能・品質・効用を有すること、その動作が中断されないこと及びその作動に誤りがないこと      
                  h3.my-3 サービス利用規約
                  ul 
                    li 本サービスの申し込みにより、「BConnectionデジタルトレードアプリケーション利用規約」同意したこととみなされます
                    li 尚、全てにおいて、「BConnectionデジタルトレードアプリケーション利用規約」に記載された事項が優先して適用されます
                  h4.mb-0 ■BConnectionデジタルトレードアプリケーション利用規約
                  a(href='https://www.ntt.com/about-us/disclosure/tariff/yakkan.html' target='_blank') https://www.ntt.com/about-us/disclosure/tariff/yakkan.html
                  h3.my-3 サービス・故障に関する問い合わせ
                  p 【メール】××××
                  p 【Tel】××××（受付時間：××××）
                  h3.my-3 提供注意事項
                  ul 
                    li （別途検討）
                    li （別途検討）
                    li （別途検討）

                .serviceBox.mb-6.searchResultBox#introductionSupport(class=paidServiceInfo.introductionSupportChecked ? '' :'is-hidden')     
                  h3.my-3 料金等
                  h4 ■料金
                  p ◇工事費
                  table
                    tr 
                      th プラン名
                      th 月額
                    tr 
                      td 導入支援サービス（基本）
                      td 
                        | 100,000円<br>(税込:110,000円)  
                    tr 
                      td 導入支援サービス（オプション）
                      td 
                        | 詳細は別途参照
                  h4 ■上限件数
                  ul 
                    li 請求書の受取件数、もしくは発行件数の上限は500件までとさせていただきます
                    li 上限件数を超えたご利用となる場合、請求書100件ごとにつき10,000円（税込11,000円）の追加利用料金を頂戴します
                  h4 ■支払い方法
                  ul 
                    li 原則、月額払いとさせていただきます
                    li 1回目の料金月は利用開始日の翌月とし、以降月額料金を頂戴します
                    li お客様は当社が定める期日までに、当社が指定する方法により料金等をお支払いいただきます
                  h4 ■延滞利息
                  ul 
                    li 支払期日を経過しても料金のお支払いがない場合には、支払期日の翌日から支払の日の前日までの日数について、年14.5％の割合で計算して得た額を延滞利息としてお支払いいただきます
                    li 1回目の料金月は利用開始日の翌月とし、以降月額料金を頂戴します
                    li お客様は当社が定める期日までに、当社が指定する方法により料金等をお支払いいただきます 
                  h3.my-3 契約期間について
                  ul 
                    li 利用規約に基づく契約の成立は、お客様の利用申込を当社が受領した日をもって成立するものとします
                    li サービスの提供期間は、原則、お客様が利用申し込み時にしてい頂いた利用開始日より開始するものとします
                    li 最低利用期間の定めはございません
                  h3.my-3 契約の変更と解約
                  ul 
                    li お客様が契約の変更もしくは解約をする際は、当社の指定する手段で解約の通知をしていただきます
                    li お客様の解約通知日の当月まで月額料金を頂戴します
                    li サービスの提供期間は、原則、お客様の解約通知日の当月末日をもって終了するものとします
                    li 利用開始日の当月中に解約の場合は、1ヵ月分の月額料金を頂戴します  
                  h3.my-3 免責
                  ul 
                    li 当社はお客様に対し、以下を保証するものではありません
                      p (1) 本サービスが他人の権利を侵害しないこと
                      p (2) 本サービスが契約者の期待通りの性能・品質・効用を有すること、その動作が中断されないこと及びその作動に誤りがないこと      
                  h3.my-3 サービス利用規約
                  ul 
                    li 本サービスの申し込みにより、「BConnectionデジタルトレードアプリケーション利用規約」同意したこととみなされます
                    li 尚、全てにおいて、「BConnectionデジタルトレードアプリケーション利用規約」に記載された事項が優先して適用されます
                  h4.mb-0 ■BConnectionデジタルトレードアプリケーション利用規約
                  a(href='https://www.ntt.com/about-us/disclosure/tariff/yakkan.html' target='_blank') https://www.ntt.com/about-us/disclosure/tariff/yakkan.html
                  h3.my-3 サービス・故障に関する問い合わせ
                  p 【メール】××××
                  p 【Tel】××××（受付時間：××××）
                  h3.my-3 提供注意事項
                  ul 
                    li （別途検討）
                    li （別途検討）
                    li （別途検討）

                .termText
                  p.has-text-centered.mb-1 デジタルトレードアプリ利用規約につきましては下記リンクよりご確認ください。
                  a.is-inline-flex.is-justify-content-center.is-align-items-center.iconLink(href='/html/terms-of-service_20220419.pdf' target="_blank" rel="noopener noreferrer")
                    span.panel-icon
                      i.fas.fa-chevron-circle-right
                    p デジタルトレードアプリ利用規約   
              .columns.is-centered: .column.is-four-fifths
                .field.is-horizontal.is-grouped.is-grouped-centered
                  .control: label.checkbox
                    input.is-normal#check(name="termsCheck" type="checkbox" required="required")
                    span.checkboxtext 重要事項説明・利用規約に同意します
              .columns.is-centered: .column.is-four-fifths.mb-6.mt-4
                .field.is-grouped.is-grouped-centered
                  .control
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button.button.is-link#next-btn(type="submit" formaction="/paidServiceRegister/showForm" disabled) お申し込み内容入力へ
    include footer

block append scripts
  link(rel='stylesheet', type='text/css', href='/css/contractCancellation.css')
  link(rel='stylesheet', type='text/css', href='/css/paidServiceRegister.css')
  script(src="/js/common/common.js")
  script(src="/js/paidServiceRegisterTerms-page.js")