extends layout

block content
  .hero.is-large
    .hero-body
      .container

  .container.is-max-widescreen
    //- .level-left.is-family-sans-serif
    //-   .level-item
    //-     p.title.mb-4 Apps
  
    columns.is-centered
      .column.is-12
        .box
          .media-content
            .tabs.is-centered.is-boxed.is-medium
              ul
                li.is-active
                  a#informationTab
                    span お知らせ
                li
                  a#constructTab
                    span 工事・故障情報
            .tab-content
              .tab-pane.is-active#informationTab
                if newsDataArrSize==0
                  p.text-center=newsDataArr[0].message
                else
                  table.table.is-fullwidth.table-fixed
                    tbody
                      each item in newsDataArr
                        tr
                          td.newsDate=item.date
                          td.newsTitle
                            a.has-text-right(href=item.link target='_blank')=item.title
                .mt-1.has-text-right
                  a.button.is-link.is-light(href='https://support.ntt.com/mail/information/search?parentGoodsCode=512' target='_blank') もっと見る 

              .tab-pane#constructTab
                if constructDataArrSize==0
                  p.text-center=constructDataArr[0].message
                else
                  table.table.is-fullwidth.table-fixed
                    tbody
                      each item in constructDataArr
                        tr
                          td.newsDate=item.date
                          td.newsTitle
                            a.has-text-right(href=item.link target='_blank')=item.title
                .mt-1.has-text-right
                  a.button.is-link.is-light(href='https://support.ntt.com/mail/information/search?parentGoodsCode=511' target='_blank') もっと見る 


    .columns.is-desktop.is-family-noto-sans
      .column.hvr-float
        .box
          a.show-modal(data-target='support-modal')
            .media.appdesc
              .media-left
                img.app-icon(src='../image/ts-app-digitaltrade-func-icon-support.svg')
              .media-content
                p.title.is-5 サポート
                p 設定方法、利用方法に関するお問い合わせが無料で利用できます。
                p その他FAQを参照できます。
                //- p.tag.is-link.is-normal 有効化されています
      .column.hvr-float
        .box
          a.show-modal(data-target='csvupload-modal')
            .media.appdesc
              .media-left
                img.app-icon(src='../image/ts-app-digitaltrade-func-icon-csv_upload-type2c.svg')
              .media-content
                p.title.is-5 請求書一括作成
                p 指定ファイルをアプロードすることで、複数のドラフト状態の請求書を一括で作成できます。 
      .column.hvr-float
        if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d")
          .box
            a.show-modal(data-target='config-modal')
              .media.appdesc
                .media-left
                  img.app-icon(src='../image/ts-app-digitaltrade-func-icon-setting.svg')
                .media-content
                  p.title.is-5 設定
                  p 契約情報変更と解約を行うことができます。
                  p 解約の場合は取り消しはできません。

    .modal#support-modal
      .modal-background.cancel-button(data-target='support-modal')
      .modal-card.is-family-noto-sans
        header.modal-card-head
          p.modal-card-title サポート
          button.delete(data-target="support-modal")
        section.modal-card-body
          nav.panel
            a.panel-block(href='https://support.ntt.com/bconnection/faq/search' target='_blank') 
              span.panel-icon
                i.fas.fa-file
              p よくある質問（日本語）を参照する
            a.panel-block.show-modal(data-target='support-confirmation-modal')
              span.panel-icon
                i.fas.fa-file
              p 設定方法、ご利用方法のお問い合わせ
        footer.modal-card-foot
      
      .modal#csvupload-modal
        .modal-background.cancel-button(data-target='csvupload-modal')
        .modal-card.is-family-noto-sans
          header.modal-card-head
            p.modal-card-title.title.mb-0 請求書一括作成
            button.delete(data-target="csvupload-modal")
          section.modal-card-body
            nav.panel
              a.panel-block(href='/csvupload') 
                span.panel-icon
                  i.fas.fa-file
                p 請求書一括作成
              a.panel-block(download href="../html/請求書一括作成フォーマット.csv")
                span.panel-icon
                  i.fas.fa-file
                p アップロード用請求書フォーマットcsvダウンロード
              a.panel-block(download href="../html/請求書一括作成マニュアル.pdf")
                span.panel-icon
                  i.fas.fa-file
                p 操作マニュアルダウンロード
          footer.modal-card-foot

    .modal#support-confirmation-modal
      .modal-background.cancel-button(data-target='support-confirmation-modal')
      .modal-content.is-family-noto-sans
        .card
          .card-content.notification.m-0
            button.delete(data-target="support-confirmation-modal")
            if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d" && numberN !== '')
              p お問い合わせの際は、問い合わせフォームに以下のお客様番号をご入力ください。
              .field.has-addons
                .control.is-expanded
                  input.input#numberN(type='text' value=numberN)
                .control
                  a.button#copy-btn(data-clipboard-target="#numberN")
                    | Copy                
              a.button.is-success.is-pulled-right.mb-3(href='https://support.ntt.com/bconnection/inquiry/input/pid2200000saa' target='_blank') お問い合わせページを開く
            else if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d" && numberN === '')
              p 現在お客様番号払出中です。
              p 払出後、本画面からお問い合わせが可能となります。
            else
              p お問い合わせは、テナント管理者のみ可能です。
              p テナント管理者にご相談の上、お問い合わせください。

    .modal#config-modal
      .modal-background.cancel-button(data-target='config-modal')
      .modal-card.is-family-noto-sans
        header.modal-card-head
          p.modal-card-title 設定
          button.delete(data-target="config-modal")
        section.modal-card-body
          nav.panel
            a.panel-block(href='change')
              span.panel-icon
                i.fas.fa-file
              p 契約情報変更
            a.panel-block(href='cancellation') 
              span.panel-icon
                i.fas.fa-file
              p 解約
        footer.modal-card-foot
  include footer

block append scripts
  script(src="/js/portal-page.js")
  // End of DigitalTrade Portal Page
