extends layout

block content
  .hero.is-small
    .hero-body.is-logo
      .container

  //- 会員サイト連携開発追加
  input(type="hidden" name="_csrf" value=csrfToken)
  //- 会員サイト連携開発追加

  .container.is-max-widescreen
    //- .level-left.is-family-sans-serif
    //-   .level-item
    //-     p.title.mb-4 Apps
    columns.is-centered
      .column.is-12.menu
        .box
          .media-content
            .tabs.is-centered.is-boxed.is-medium
              ul
                li.is-active
                  a#informationTab
                    span お知らせ
                li
                  a#constructTab
                    span 工事・故障情報
            .tab-content
              .tab-pane.is-active#informationTab
                if newsDataArrSize==0
                  p.text-center=newsDataArr[0].message
                else
                  table.table.is-fullwidth.table-fixed
                    tbody
                      each item in newsDataArr
                        tr
                          td.newsDate=item.date
                          td.newsTitle
                            a.has-text-right(href=item.link target='_blank')=item.title
                .mt-1.has-text-right
                  a.button.is-link.is-light(href='https://support.ntt.com/bconnection/information/search' target='_blank') もっと見る 

              .tab-pane#constructTab
                if constructDataArrSize==0
                  p.text-center=constructDataArr[0].message
                else
                  table.table.is-fullwidth.table-fixed
                    tbody
                      each item in constructDataArr
                        tr
                          td.newsDate=item.date
                          td.newsTitle
                            a.has-text-right(href=item.link target='_blank')=item.title
                .mt-1.has-text-right
                  a.button.is-link.is-light(href='https://support.ntt.com/bconnection/maintenance/search' target='_blank') もっと見る 
      .column.is-12.menu
        .columns.is-desktop.is-family-noto-sans
          .column.hvr-float
            .box.iconBox.textOverflow
              a.show-modal(data-target='csvupload-modal')
                .media.appdesc
                  .media-left
                    img.app-icon(src='../image/ts-app-digitaltrade-func-icon-csv_upload-type2c.svg')
                  .media-content
                    p.title.is-5 請求書一括作成
                    p 指定ファイルをアップロードすることで、複数のドラフト状態の請求書を一括で作成できます。 
          .column.hvr-float
            .box.iconBox.textOverflow
              a(href='/csvDownload')
                .media.appdesc
                  .media-left
                    img.app-icon(src='../image/ts-app-digitaltrade-func-icon-csv_download.svg')
                  .media-content
                    p.title.is-5 請求情報ダウンロード
                    p 送受信した請求情報をCSV形式でダウンロードできます。
          .column.hvr-float
            .box.iconBox.textOverflow
              a.show-modal(data-target='support-modal')
                .media.appdesc
                  .media-left
                    img.app-icon(src='../image/ts-app-digitaltrade-func-icon-support.svg')
                  .media-content
                    p.title.is-5 サポート
                    p 設定方法、利用方法に関するお問い合わせが無料で利用できます。その他FAQを参照できます。


        .columns.is-desktop.is-family-noto-sans
          .column.hvr-float
            if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d")
              .box.iconBox.textOverflow
                a.show-modal(data-target='config-modal')
                  .media.appdesc
                    .media-left
                      img.app-icon(src='../image/ts-app-digitaltrade-func-icon-setting.svg')
                    .media-content
                      p.title.is-5 設定
                      p 契約情報変更と解約を行うことができます。
                      p 解約の場合は取り消しはできません。
          .column.hvr-float
          .column.hvr-float
      .column.is-12.menu
       p.olta-title-font-size 提携サービス
        .columns.is-desktop.is-family-noto-sans
          //- .column.hvr-float
            .box.iconBox.textOverflow
              a.show-modal(data-target='factoring-modal')
                .media.appdesc
                  .media-left
                    img.app-icon(src='../image/ts-app-digitaltrade-func-icon-olta-type1.svg')
                  .media-content
                    p.title.is-5 ファクタリング
                    p 請求書（売掛金）を買い取らせていただくことで素早く簡単に現金化ができるサービスです。
          .column.hvr-float
            .box.iconBox.textOverflow
              a.show-modal(data-target='settlement-modal')
                .media.appdesc
                  .media-left
                    img.app-icon(src='../image/ts-app-digitaltrade-func-icon-nttsmarttrade.svg')
                  .media-content
                    p.title.is-5 銀行振込消込
                    p 専用の振込口座をご利用いただくことで振込名義人によらず請求先を特定できるサービスです。
          .column.hvr-float
          //- ファクタリングを活性化する時、下の「.column.hvr-float」も削除必要
          .column.hvr-float

    .modal#support-modal
      .modal-background.cancel-button(data-target='support-modal')
      .modal-card.is-family-noto-sans
        header.modal-card-head
          p.modal-card-title サポート
          button.delete(data-target="support-modal")
        section.modal-card-body
          nav.panel
            a.panel-block(href='https://support.ntt.com/bconnection/faq/search' target='_blank') 
              span.panel-icon
                i.fas.fa-file
              p よくある質問（日本語）を参照する
            a.panel-block.show-modal(data-target='support-confirmation-modal')
              span.panel-icon
                i.fas.fa-file
              p 設定方法、ご利用方法のお問い合わせ
        footer.modal-card-foot
      
      .modal#csvupload-modal
        .modal-background.cancel-button(data-target='csvupload-modal')
        .modal-card.is-family-noto-sans
          header.modal-card-head
            p.modal-card-title.title.mb-0 請求書一括作成
            button.delete(data-target="csvupload-modal")
          section.modal-card-body
            nav.panel
              a.panel-block(href='/csvupload') 
                span.panel-icon
                  i.fas.fa-file
                p 請求書一括作成
              a.panel-block(href='/uploadFormatList') 
                span.panel-icon
                  i.fas.fa-file
                p 請求書アップロードフォーマット一覧
              a.panel-block(download href="../html/請求書一括作成フォーマット.csv")
                span.panel-icon
                  i.fas.fa-file
                p アップロード用請求書フォーマットcsvダウンロード
              a.panel-block(download href="../html/【Bconnectionデジタルトレードアプリ】操作マニュアル_請求書一括作成.pdf")
                span.panel-icon
                  i.fas.fa-file
                p 操作マニュアルダウンロード
          footer.modal-card-foot

    .modal#support-confirmation-modal
      .modal-background.cancel-button(data-target='support-confirmation-modal')
      .modal-content.is-family-noto-sans
        .card
          .card-content.notification.m-0
            button.delete(data-target="support-confirmation-modal")
            if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d" && numberN !== '')
              p お問い合わせの際は、問い合わせフォームに以下のお客様番号をご入力ください。
              .field.has-addons
                .control.is-expanded
                  input.input#numberN(type='text' value=numberN)
                .control
                  a.button#copy-btn(data-clipboard-target="#numberN")
                    | Copy                
              a.button.is-success.is-pulled-right.mb-3(href='https://support.ntt.com/bconnection/inquiry/input/pid2200000saa' target='_blank') お問い合わせページを開く
            else if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d" && numberN === '')
              p 現在お客様番号払出中です。
              p 払出後、本画面からお問い合わせが可能となります。
            else
              p お問い合わせは、テナント管理者のみ可能です。
              p テナント管理者にご相談の上、お問い合わせください。

    .modal#csvDownload-modal
     .modal-background.cancel-button(data-target='csvDownload-modal')
     .modal-card.is-family-noto-sans
       header.modal-card-head
         p.modal-card-title 請求情報ダウンロード
         button.delete(data-target="csvDownload-modal")
       section.modal-card-body
         nav.panel
           a.panel-block(href='/csvDownload')
             span.panel-icon
               i.fas.fa-file
             p 請求情報ダウンロード
           a.panel-block.show-modal(data-target='csvdownload-confirmation-modal')
             span.panel-icon
               i.fas.fa-file
             p 請求情報一括ダウンロード
       footer.modal-card-foot

     .modal#config-modal
      .modal-background.cancel-button(data-target='config-modal')
      .modal-card.is-family-noto-sans
        header.modal-card-head
          p.modal-card-title 設定
          button.delete(data-target="config-modal")
        section.modal-card-body
          nav.panel
            a.panel-block(href='/change')
              span.panel-icon
                i.fas.fa-file
              p 契約情報変更
            a.panel-block(href='/cancellation') 
              span.panel-icon
                i.fas.fa-file
              p 解約
        footer.modal-card-foot
    
     .modal#factoring-modal
      .modal-background.cancel-button(data-target='factoring-modal')
      .modal-card#olta-modal-card
        header.modal-card-head
          p.modal-card-title ファクタリング
          button.delete(data-target='factoring-modal')
        section.modal-card-body
          p 【本サービスはOLTA株式会社が提供する提携サービスとなります】
          br
          p  最短即日で資金調達できるオンライン完結のファクタリングサービス
          p  ファクタリングとは、「入金待ちの請求書」（売掛金）を売却して、早期に運転資金を調達する「借りない資金調達」です。
          p  借入ではないため、審査に信用情報は参照せず、信用情報への記録もなし。担保や保証人を必要としません。
          br
          p  OLTAのクラウドファクタリングなら法人・個人事業主いずれもご利用いただけて、買取金額に上限も下限も設定していません。
          br
          p  さらに、お客様の取引先に知られることなくすべての手続きが完了する2社間ファクタリングです。
          br
          p  お問合せ・お申込みは下記リンクから。※リンク先は外部サイトとなります。
          a.olta-link-underline(href='https://www.olta.co.jp/lp/bconnection/?utm_source=digitatrad&utm_campaign=lp&utm_medium=alliance&utm_term=DIGITALTRAD' target='_blank') https://www.olta.co.jp/lp/bconnection/
        footer.modal-card-foot

     .modal#settlement-modal
      .modal-background.cancel-button(data-target='settlement-modal')
      .modal-card#olta-modal-card
        header.modal-card-head
          p.modal-card-title 銀行振込消込
          button.delete(data-target='settlement-modal')
        section.modal-card-body
          p 【本サービスはNTTスマートトレード株式会社が提供する提携サービスとなります】
          br
          p  銀行振込消込サービスではお取引先様向けの専用振込口座番号をご用意いたします。
          p  BConnectionデジタルトレードで発行する請求書にこの口座番号を記載いただくと本口座に入金のあった振込は振込名義人がどのように記載されるかに関わらずご請求先様からの振込と認識できるようになります。
          br
          p  メリット
          p  ・名義人の確認が不要に。煩わしいカナ名の確認が不要になります
          p  ・入金の通知を電文・メールで受け取ることができます
          p  ・ほぼリアルタイムで入金確認（最大タイムラグ15分）ができます
          br
          p  お問合せ・お申込みは下記リンクから。※リンク先は外部サイトとなります。
          a.olta-link-underline(href='https://www.nttsmarttrade.co.jp/bconnection_lp/' target='_blank') https://www.nttsmarttrade.co.jp/bconnection_lp/
        footer.modal-card-foot
  include footer

block append scripts
  script(src="/js/portal-page.js")
  //- 会員サイト連携開発追加 fingerpirnt未検証の場合、fingerprint値をXHRで送信する。
  //- TODO:ポータル画面表示時に紐づけを実施するように修正
  if (memberSiteFlg)
    script(src="/js/portal-page-memberSite.js")
  //- 会員サイト連携開発追加
  // End of DigitalTrade Portal Page
