extends layout

block content
  .hero.is-large
    .hero-body
      .container

  .section.is-overlay.mt-6
    .container.is-max-widescreen.is-family-noto-sans
      form#form(action="#")
        article.panel.is-info
          h2.panel-heading デジタルトレードアプリご利用にあたって
          .panel-block
            .container
              p.ml-4 必要事項を記入して、「次へ」ボタンを押してください。
              p.ml-4.mb-4 ※法人名、担当者名、メールアドレスはTradeshiftのプロフィール情報より取得しております。
              .columns.is-centered: .column.is-four-fifths
                .field.is-horizontal
                  .field-label: label.label 法人名
                  .field-body: .field: p.control: input.input.is-rounded(name="companyName" type="text" value=companyName readonly) 
                .field.is-horizontal
                  .field-label: label.label 郵便番号
                  .field-body: .field.is-narrow: p.control: input.input.is-rounded(name="zipCode" type="text" value=zip required="required" pattern="^\\d{7}$" placeholder="例：1234567" maxlength='7')
                .field.is-horizontal
                  .field-label: label.label 住所
                  .field-body: .field: p.control: input.input.is-rounded(name="addressLine1" type="text" value=address required="required")
                .field.is-horizontal
                  .field-label: label.label 住所（ビル名等）
                  .field-body: .field: p.control: input.input.is-rounded(name="addressLine2" type="text")
                .field.is-horizontal
                  .field-label: label.label 部署名
                  .field-body: .field: p.control: input.input.is-rounded(name="departmentName" type="text" required="required")
                .field.is-horizontal
                  .field-label: label.label 担当者名
                  .field-body: .field: p.control: input.input.is-rounded(name="userName" type="text" value=userName readonly) 
                .field.is-horizontal
                  .field-label: label.label 電話番号
                  .field-body: .field: p.control: input.input.is-rounded(name="tel" type="text" required="required" pattern="^0\\d{9,10}$" placeholder="例：0001112222" maxlength='11')
                .field.is-horizontal
                  .field-label: label.label メールアドレス
                  .field-body: .field: p.control: input.input.is-rounded(name="email" type="text" value=email readonly) 

              .columns.is-centered: .column.is-four-fifths
                .field.is-grouped.is-grouped-left
                  label.label 利用規約
                iframe(src="" width="100%" height="200px")
                //iframe(src="" width="100%" height="200px")

              .columns.is-centered: .column.is-four-fifths
                .field.is-horizontal.is-grouped.is-grouped-centered
                  .control: label.checkbox
                    input.is-normal#check(name="termsCheck" type="checkbox" required="required")
                    span.checkboxtext 利用規約に同意します
              .columns.is-centered: .column.is-four-fifths
                .field.is-grouped.is-grouped-centered
                  .control
                    button.button.is-link#next-btn(type="submit" disabled="disabled") 次へ

        .modal.modal-fx-fadeInScale#confirmregister-modal
          .modal-background.cancel-button(data-target='confirmregister-modal')
          .modal-card
            header.modal-card-head
              p.modal-card-title 以下の内容で利用登録します。
              button.delete(type="button" data-target="confirmregister-modal")
            section.modal-card-body
              table.table
                tbody
                -var aryLabel = ["法人名","郵便番号","住所","住所（ビル名等）","部署名","担当者","電話番号","メールアドレス","利用規約"]
                -var aryFormName = ["companyName","zipCode","addressLine1","addressLine2","departmentName","userName","tel","email","termsCheck"]
                  each val, index in aryLabel
                    tr
                      th #{val}
                      td(id= aryFormName[index])
              p ※登録したメールアドレスに「お客様番号」を記載した登録完了メールを送付いたします。配信ドメイン「〇〇」を受信できるよう設定してください。

            footer.modal-card-foot
              button.button.is-success(type="submit" formaction="/register/tenant" formmethod="POST") 登録
              a.button.cancel-button(data-target='confirmregister-modal') キャンセル

      include footer

block append scripts
  script(src="/js/register-page.js")
