extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{logTitle}
        .subtitle.is-family-noto-sans #{logTitleEng}

    .columns.is-centered
      .column.is-11
        .container.is-max-widescreen.is-family-noto-sans
          form#form(method="POST")
            article.panel.is-info
              h2.panel-heading #{panelHead}
              .panel-block
                .container.mb-6
                  .columns.is-centered.is-fullwidth
                    .column.is-fullwidth
                      .field.card
                        .card-content
                          .field
                            label(for= idForApproveRouteNameInput).input-label #{approveRouteNameLabel}
                            p(id= requiredTagApproveRouteName).input-label-required.input-label （必須）
                            p#RequiredErrorMesageForApproveRoute.input-label-required.is-invisible
                            .control
                              .columns.ml-0.pl-0.alignCenterChild
                                .column.pl-0
                                  if isApproveRouteEdit
                                    input.input(type="text" id= idForApproveRouteNameInput name= idForApproveRouteNameInput value= approveRouteName maxlength=40 placeholder='全角・半角文字・英数字40文字まで' readonly)
                                  else
                                    input.input(type="text" id= idForApproveRouteNameInput name= idForApproveRouteNameInput value= valueForApproveRouteNameInput maxlength=40 placeholder='全角・半角文字・英数字40文字まで' required)
                      .field.card
                        .card-content
                          .field
                            .columns
                              .column
                                .column.ml-0.pl-0
                                  .button.is-link.mr-2#btnAddApproveRoute(type="button" data-target= `#bulkInsertNo1`) 承認者追加
                                .columns.m-0
                                  .column
                                    p#error-message-approveRoute.red-color(tabIndex=0)
                                      if approveUsers
                                        - let noneUserCnt = 0
                                        - let noneSettingUser = ''
                                        - const noneUserList  = []
                                        each noneSettingUser, idx in approveUsers
                                          if noneSettingUser.getName().trim() === '未設定'
                                            - noneUserCnt++
                                            - noneUserList.push(idx + 1)
                                        if lastApprover.getName().trim() === '未設定'
                                          - noneUserCnt++
                                          - noneUserList.push('最終')
                                        if noneUserCnt !== 0
                                          - noneSettingUser = `無効なユーザが承認ルートに設定されています。（承認順：${noneUserList.join(', ')}）`
                                        | #{noneSettingUser}
                                .column.p-0.lineApproveRoute(id='bulkInsertNo1')
                                  if isApproveRouteEdit
                                    -var numberList = ['一', '二', '三', '四', '五', '六', '七', '八', '九', '十']
                                    each item, idx in approveUsers
                                      .columns.m-0.p-1.lineApproveRoute(id=`bulkInsertNo1_lineApproveRoute${idx+1}`)
                                        .column.p-0.border-div-rad-4.field-overflow
                                          .field.is-horizontal.m-1.has-addons-centered
                                            .field-label.is-normal.m-0.text-center.flex-none.width-20percent
                                              label 承認順
                                            .field-label.is-normal.m-0.text-center.flex-none.width-25percent.padding-left-3
                                              label 承認者名
                                            .field-label.is-normal.m-0.text-center.flex-none.width-45percent.padding-left-5
                                              label メールアドレス
                                            .field-label.is-normal.m-0.width-10percent
                                              label
                                          .field.is-horizontal.p-1
                                            .field-body.m-1.flex-none.width-20percent
                                              .field.text-center.padding-left-20
                                                label.input-label.input-approveRouteUserNumber.text-center #{numberList[idx]}次承認 
                                                p.input-label-required.input-label.text-center 
                                            .field-body.m-1.flex-none.width-25percent
                                              .field
                                                p.control
                                                  if item.getName().trim() === '未設定'
                                                    input.input.item-text-overflow.input-approveRouteUserName.none-user-name(type='text' id=`lineApproveRoute_approveUserName` name=`userName` value=item.getName().trim() title=item.getName().trim() readonly)
                                                  if item.getName().trim() !== '未設定'
                                                    input.input.item-text-overflow.input-approveRouteUserName(type='text' id=`lineApproveRoute_approveUserName` name=`userName` value=item.getName().trim() title=item.getName().trim() readonly)
                                            .field-body.m-1.flex-none.width-45percent
                                              .field
                                                p.control
                                                  input.input.item-text-overflow.input-approveRouteUserMailAddress(type='text' id=`lineApproveRoute_approveUserMailAddress` name=`mailAddress` value= item.getMail().trim() title= item.getMail().trim() readonly)
                                                  input(type='hidden' name=`uuid` value= item.getId())
                                            .field-body.m-1.is-4.text-center.width-45percent
                                              .field
                                                p.control
                                                  a.button.is-link.btn-search-main.BtnlineApproveRouteUserSearch(data-id=`bulkInsertNo1_lineApproveRoute${idx+1}`) 検索
                                        .column.is-0.p-1.column-minus-btn
                                            a.red-color.btn-minus-approveRoute(data-target=`bulkInsertNo1_lineApproveRoute${idx+1}`)
                                              i.fas.fa-minus-circle
                                  else
                                    if approveUsers
                                      -var numberList = ['一', '二', '三', '四', '五', '六', '七', '八', '九', '十']
                                        each item, idx in approveUsers
                                          .columns.m-0.p-1.lineApproveRoute(id=`bulkInsertNo1_lineApproveRoute${idx + 1}`)
                                            .column.p-0.border-div-rad-4.field-overflow
                                              .field.is-horizontal.m-1.has-addons-centered
                                                .field-label.is-normal.m-0.text-center.flex-none.width-20percent
                                                  label 承認順
                                                .field-label.is-normal.m-0.text-center.flex-none.width-25percent.padding-left-3
                                                  label 承認者名
                                                .field-label.is-normal.m-0.text-center.flex-none.width-45percent.padding-left-5
                                                  label メールアドレス
                                                .field-label.is-normal.m-0.width-10percent
                                                  label
                                              .field.is-horizontal.p-1
                                                .field-body.m-1.flex-none.width-20percent
                                                  .field.text-center.padding-left-30
                                                    label.input-label.text-center.input-approveRouteUserNumber #{numberList[idx]}次承認
                                                .field-body.m-1.flex-none.width-25percent
                                                  .field
                                                    p.control
                                                      if item.getName().trim() === '未設定'
                                                        input.input.item-text-overflow.input-approveRouteUserName.none-user-name(type='text' id=`lineApproveRoute_approveUserName` name=`userName` value=item.getName().trim() title=item.getName().trim() readonly)
                                                      if item.getName().trim() !== '未設定'
                                                        input.input.item-text-overflow.input-approveRouteUserName(type='text' id=`lineApproveRoute_approveUserName` name=`userName` value=item.getName().trim() title=item.getName().trim() readonly)
                                                .field-body.m-1.flex-none.width-45percent
                                                  .field
                                                    p.control
                                                      input.input.item-text-overflow.input-approveRouteUserMailAddress(type='text' id=`lineApproveRoute_approveUserMailAddress` name=`mailAddress` value= item.getMail().trim() title= item.getMail().trim() readonly)
                                                      input(type='hidden' name=`uuid` value= item.getId())
                                                .field-body.m-1.is-4.text-center
                                                  .field
                                                    p.control
                                                      a.button.is-link.btn-search-main.BtnlineApproveRouteUserSearch(data-id=`bulkInsertNo1_lineApproveRoute${idx + 1}`) 検索
                                            .column.is-0.p-1.column-minus-btn
                                                a.red-color.btn-minus-approveRoute(data-target=`bulkInsertNo1_lineApproveRoute${idx + 1}`)
                                                  i.fas.fa-minus-circle                  
                                  .columns.m-0.p-1.lineApproveRouteForLast(id='bulkInsertNo1_lineApproveRouteLast' data-idx='1')
                                    .column.p-0.border-div-rad-4.field-overflow
                                      .field.is-horizontal.m-1.has-addons-centered
                                        .field-label.is-normal.m-0.text-center.flex-none.width-20percent
                                          label 承認順
                                        .field-label.is-normal.m-0.text-center.flex-none.width-25percent.padding-left-3
                                          label 最終承認者名
                                        .field-label.is-normal.m-0.text-center.flex-none.width-45percent.padding-left-5
                                          label メールアドレス
                                        .field-label.is-normal.m-0.width-10percent
                                          label
                                      .field.is-horizontal.p-1
                                        .field-body.m-1.flex-none.width-20percent
                                          .field.text-center.padding-left-20
                                            label.input-label.text-center 最終承認
                                            p.input-label-required.input-label.text-center  （必須）
                                        .field-body.m-1.flex-none.width-25percent
                                          .field
                                            p.control
                                              if lastApprover
                                                if lastApprover.getName().trim() === '未設定'
                                                  input.input.item-text-overflow.input-approveRouteLastUserName.none-user-name(type='text' id=`lastLineApproveRoute_approveUserName` name=`userName` value=lastApprover.getName() title=lastApprover.getName() readonly)
                                                if lastApprover.getName().trim() !== '未設定'
                                                  input.input.item-text-overflow.input-approveRouteLastUserName(type='text' id=`lastLineApproveRoute_approveUserName` name=`userName` value=lastApprover.getName() title=lastApprover.getName() readonly)
                                              else
                                                input.input.item-text-overflow.input-approveRouteLastUserName(type='text' id=`lastLineApproveRoute_approveUserName` name=`userName` readonly)
                                        .field-body.m-1.flex-none.width-45percent
                                          .field
                                            p.control
                                              if lastApprover
                                                input.input.item-text-overflow.input-approveRouteLastUserMailAddress(type='text' id=`lastLineApproveRoute_approveUserMailAddress` name=`mailAddress` value=lastApprover.getMail() title=lastApprover.getMail() readonly)
                                                input(type='hidden' name=`uuid` value=lastApprover.getId())
                                              else
                                                input.input.item-text-overflow.input-approveRouteLastUserMailAddress(type='text' id=`lastLineApproveRoute_approveUserMailAddress` name=`mailAddress` readonly)
                                                input(type='hidden' name=`uuid`)
                                        .field-body.m-1.is-4.text-center
                                          .field
                                            p.control
                                              a.button.is-link.btn-search-main.BtnlineApproveRouteUserSearch(data-id='bulkInsertNo1_lineApproveRouteLast') 検索
                                    .column.is-0.p-1
                                      .column.is-invisible
                                        
                  .grouped-button
                    a.button.mr-6(href= backUrl) 戻る
                    a.button.is-link#btn-confirm 確認
  .modal#check-modal
    .modal-background.cancel-button(data-target='check-modal')
    .modal-card.is-family-noto-sans.approveRoute-modal-width
      header.modal-card-head
        p.modal-card-title.title.mb-0 承認ルート設定確認
        button.delete(data-target='check-modal')
      section.modal-card-body
        .columns.is-fullwidth.m-0
          .column.is-fullwidth.p-0
            .field.is-horizontal#displayInvisible
              .box.px-2
                label(for= 'approveRouteName_checkModal').input-label #{approveRouteNameLabel}
                p(id= requiredTagApproveRouteName).input-label-required.input-label （必須）
                .control
                  .columns.ml-0.pl-0.alignCenterChild
                    .column.pl-0
                      input.input(type="text" id= 'approveRouteName_checkModal' name= 'approveRouteName_checkModal'  maxlength=40 readonly required)                    
            .field.is-horizontal#displayInvisible
              .box.px-2
                .columns.is-fullwidth.m-0
                  .column.border-div-rad-0.flex-none.width-10percent 承認順
                  .column.border-div-rad-0.flex-none.width-25percent 承認者名
                  .column.border-div-rad-0.flex-none.width-45percent メールアドレス
                .row#approver-list-check
      footer.modal-card-foot
        div.button-area
          a.button#cancel-btn.cancel-button(data-target='check-modal') キャンセル
          a.button.is-success#submit 登録
  
  .modal#caution-modal
    .modal-background.cancel-button(data-target='caution-modal')
    .modal-card.is-family-noto-sans
      header.modal-card-head
        p.modal-card-title.title.mb-0
        button.delete(data-target='caution-modal')
      section.modal-card-body
        p#caution-message
      footer.modal-card-foot
        div.button-area
          a.button.is-danger.cancel-button(data-target='caution-modal') 確認

  .modal.modal-fx-fadeInscale#approveRoute-modal
    .modal-background.cancel-button(data-target="approveRoute-modal")
    .modal-card.approveRoute-modal-width
      header.modal-card-head
        p.modal-card-title #{modalTitle}
        button#deleteApproveRoute-modal.delete(type="button" data-target="approveRoute-modal")
      section.modal-card-body
          .columns.is-centered.m-0
            .column.p-1
              .field.is-horizontal
                .field-label.is-normal.item-title-modal-approve
                  label 承認者名（姓）
                .field-body
                  .field
                    p.control
                      input.input(type="text" id= 'searchModalApproveUserLastName' value )
          .columns.is-centered.m-0
            .column.p-1
              .field.is-horizontal
                .field-label.is-normal.item-title-modal-approve
                  label 承認者名（名）
                .field-body
                  .field
                    p.control
                      input.input(type="text" id= 'searchModalApproveUserFirstName' value )
          .columns.is-centered.m-0
            .column.p-1
              .field.is-horizontal
                .field-label.is-normal.item-title-modal-approve
                  label メールアドレス
                .field-body
                  .field
                    p.control
                      input.input(type="text" id= 'searchModalApproveUserMailAddress' value )
              .control
                .field.is-grouped.is-grouped-centered
                  .columns.m-0
                    .column.p-0
                      div.button-area
                        .button.is-link#btn-search-approver(type="button") 検索

          .columns.is-fullwidth.m-0
            .column.is-fullwidth.p-0
              .field.is-horizontal#displayInvisible
                .box.px-2
                  .columns.is-fullwidth.m-0
                    .column.border-div-rad-0.search-approver-name.is-6 承認者名
                    .column.border-div-rad-0.search-approver-email.is-6 メールアドレス
                  .row#approver-list
                 
      footer.modal-card-foot.modal-address-foot

  template#templateLineApproveRouteItem
      .columns.m-0.p-1.lineApproveRoute
        .column.p-0.border-div-rad-4.field-overflow
          .field.is-horizontal.m-1.has-addons-centered
            .field-label.is-normal.m-0.text-center.flex-none.width-20percent
              label 承認順
            .field-label.is-normal.m-0.text-center.flex-none.width-25percent.padding-left-3
              label 承認者名
            .field-label.is-normal.m-0.text-center.flex-none.width-45percent.padding-left-5
              label メールアドレス
            .field-label.is-normal.m-0.width-10percent
              label 　
          .field.is-horizontal.p-1
            .field-body.m-1.flex-none.width-20percent.padding-rigth-1
              .field.text-center
                p.control.input-approveRouteUserNumber
            .field-body.m-1.flex-none.width-25percent
              .field
                p.control
                  input.input.item-text-overflow.input-approveRouteUserName(type='text' name=`` title= value value readonly)
            .field-body.m-1.flex-none.width-45percent
              .field
                p.control
                  input.input.item-text-overflow.input-approveRouteUserMailAddress(type='text' id=`` title= value value readonly)
                  input(type='hidden')
            .field-body.m-1.is-4.text-center
              .field
                p.control
                  a.button.is-link.btn-search-main#BtnlineApproveRouteUserSearch(data-target='approveRoute-modal') 検索
        .column.is-0.p-1.column-minus-btn
          a.red-color.btn-minus-approveRoute
            i.fas.fa-minus-circle

  template#searchResultCode
    tr.rowApproveUsers
      td.columnNoApproveUser
        .field.is-horizontal
          .field-body
            p.control.noApproveUserMessage
      td.columnApproveUserName
      td.text-overflow.columnApproveUserMailAddress
  include footer

  template#template-approverList
    .columns.is-fullwidth.m-0.is-6.columns-tr
      .column.column-td.is-6
        p.text-overflow#name
        input#id(type='hidden')
      .column.column-td.is-6
        p.text-overflow#email

  template#template-approverCheckList
    .columns.is-fullwidth.m-0.is-6
      .column.column-td.flex-none.width-10percent
        p#id-check
      .column.column-td.flex-none.width-25percent
        p.item-text-overflow#name-check
      .column.column-td.flex-none.width-45percent
        p.item-text-overflow#email-check

block append scripts
  script(src="/js/registApproveRoute-page.js")
  link(rel='stylesheet', type='text/css', href='/css/registApproveRoute.css')