block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{logTitle}
        .subtitle.is-family-noto-sans #{logTitleEng}

    .columns.is-centered
      .column.is-11
        .container.is-max-widescreen.is-family-noto-sans
          form#form(method="POST")
            article.panel.is-info
              h2.panel-heading #{codeName}
              .panel-block
                .container.mb-6
                  .columns.is-centered.is-fullwidth
                    .column.is-fullwidth
                      .field.card
                        .card-content
                          if isRegistSubAccountCode
                            label.input-label 
                            | #{parentCodeLabel}  
                            .control
                              input.input(type="text" id= parentIdForCodeInput name= parentIdForCodeInput value= valueForCodeInput maxlength=10 placeholder='英・数字のみ（10桁）' pattern=inputPatternEngNum) 
                            label.input-label
                            | #{parentCodeNameLabel}  
                            .control
                              input.input(type="text" id= parentIdForNameInput name= parentIdForNameInput value= valueForNameInput maxlength=40 placeholder='文字列（40桁）') 
                            .field.is-grouped.is-grouped-centered.mt-3
                              .control
                                div.button-area
                                  a.button.is-danger.mr-6#btnClear クリア
                                  a.button.is-link#btnSearchAccountCode 検索
                            .field.is-horizontal.is-invisible
                              .field-label.is-normal
                              .field-body.level
                                .container#displaySearchAccountCode

                          .field
                            label(for= idForCodeInput).input-label #{codeLabel}
                            p(id= requiredTagCode).input-label-required.input-label （必須）
                            p#RequiredErrorMesageForCode.input-label-required.is-invisible
                            .control
                              .columns.ml-0.pl-0.alignCenterChild
                                .column.pl-0
                                  input.input(type="text" id= idForCodeInput name= idForCodeInput value= valueForCodeInput maxlength=10 placeholder='英・数字のみ（10桁）' pattern=inputPatternEngNum required) 
                          .field
                            label(for= idForNameInput).input-label #{codeNameLabel}
                            p(id= requiredTagName).input-label-required.input-label （必須）
                            p#RequiredErrorMesageForName.input-label-required.is-invisible
                            .control
                              .columns.ml-0.pl-0.alignCenterChild
                                .column.pl-0
                                  input.input(type="text" id= idForNameInput name= idForNameInput value= valueForNameInput maxlength=40 placeholder='文字列（40桁）' required) 

                          .field.is-grouped.is-grouped-centered
                            .control
                              .column
                                div.button-area
                                  a.button#return-btn.cancel-button.mr-6(href= backUrl) 戻る
                                  a.button.is-link.success-button#btnCheck 確認

  .modal#check-modal
    .modal-background.cancel-button(data-target='check-modal')
    .modal-card.is-family-noto-sans
      header.modal-card-head
        p.modal-card-title.title.mb-0 #{modalTitle}
        button.delete(data-target='check-modal')
      section.modal-card-body
        table.table.is-striped.is-bordered.is-fullwidth
          tbody
            tr
              td 勘定科目コード
              td
               p#checksetAccountCodeInputId 　
          tr
            td 勘定科目名
            td
              p#checksetAccountCodeNameInputId 　
      footer.modal-card-foot
        div.button-area
          a.button#cancel-btn.cancel-button(data-target='check-modal') キャンセル
          a.button.is-success#submit 登録

  include footer