.box
  .column.m-0.p-0
    .column.pl-4.py-0
      a.button.is-link#btn-approveRouteInsert.show-modal(data-target='approveRoute-modal') 承認ルート選択
    .column.m-0.p-0#displayRequestApprovaRoute
      - const approvalNo = ['一次承認', '二次承認', '三次承認', '四次承認', '五次承認', '六次承認', '七次承認', '八次承認', '九次承認', '十次承認', '最終承認']
      if approveRoute
        .columns.px-0.mx-0
          .column.text-left.is-one-fifth
            p 承認ルート名
          .column#approveRouteName
            p #{approveRoute.name}
        section#displayDetailApproveRouteTable
          .columns.m-0.p-0.is-color-table-header.is-border-left-top.is-max-width
            .column.is-one-third.text-left.is-border-right 承認順
            .column.text-left.is-border-right 担当者名
          - const userLen = approveRoute.users.length
          each user, idx in approveRoute.users            
            if idx < userLen - 1
              .columns.m-0.p-0.is-border-left-top.is-max-width
                .column.is-one-third.text-left.is-border-right #{approvalNo[idx]}
                .column.text-left.is-border-right #{user.FirstName} #{user.LastName}
            else
              .columns.m-0.p-0.is-border-left-top-bottom.is-max-width
                .column.is-one-third.text-left.is-border-right #{approvalNo.slice(-1)}
                .column.text-left.is-border-right  #{user.FirstName} #{user.LastName}