extends layout

block content
  .container
    div.title-box-journallzing
      h4.title-text-journallzing.text-inbox 支払依頼
    .box
      form#form(method='POST' action=`/requestApproval/save/${documentId}`)
        input(type="hidden" name="_csrf" value=csrfToken)
        include requestApprovalRejectedMessage
        include invoiceHeader
        include requestApprovalInvoiceLines
        include invoiceFooter
        include requestApprovalMessage
        include requestApprovalRoute

        .field.is-grouped.is-grouped-centered
          .control
            .column
              div.button-area
                a.button.mr-6(href=`/inbox/${documentId}`) 仕訳情報設定へ
                a.button.is-link.show-modal#btn-confirm(data-target='check-approval-modal') 確認

  template#templateLineAccountCodeItem
    .columns.m-0.p-1.lineAccountcode
      .column.is-one-third.p-0.border-div-rad-4
        .field.is-horizontal.m-1.has-addons-centered
          .field-label.is-normal.m-0.text-center
            label 勘定科目コード
          .field-label.is-normal.m-0.text-center
            label 補助科目コード
          .field-label.is-normal.m-0.is-1.fixed-void-66
            label 　
        .field.is-horizontal.p-1
          .field-body.m-1
            .field
              p.control
                input.input.lineAccountCode_accountCode(type='text' name=`` readonly)
          .field-body.m-1
            .field
              p.control
                input.input.lineAccountCode_subAccountCode(type='text' name=`` readonly)
      .column.is-0.p-1
      .column.is-one-fifth.p-0.border-div-rad-4
        .field.is-horizontal.m-1.has-addons-centered
          .field-label.is-normal.m-0.text-center
            label 部門コード
          .field-label.is-normal.m-0.is-1.fixed-void-66
            label 　
        .field.is-horizontal.p-1
          .field-body.m-1
            .field
              p.control
                input.input.lineAccountCode_departmentCode(type='text' name=`` readonly)
      .column.is-0.p-1
      .column.is-one-quarter.p-0.border-div-rad-4
        .field.is-horizontal.m-1.has-addons-centered
          .field-label.is-normal.m-0.text-center
            label 計上金額
          .field-label.is-normal.m-0.is-1.fixed-void-66
            label 　
        .field-body.p-1
          .field.is-horizontal
            .field-body.m-1
              .field
                p.control
                  input.input.inputInstallmentAmount(type='text' name='' readonly value=0)
      .column
        a.red-color.btn-minus-accountCode
          i.fas.fa-minus-circle

  template#searchResultApproveRoute
    tr.rowApproveRoute
      td.columnNoApproveRouteMessage
        .field.is-horizontal
          .field-body
            p.control.noApproveRouteMessage
      td.columnNumber
      td.columnApproveRoute
      td.columnApproveRouteUserCount 
      td
        a.button.purple-color.btnDetailApproveRoute(data-target='detail-approveRoute-modal') 承認ルート確認
      td.btnSelect
        a.button.green-color.btnSelectApproveRoute(data-target='approveRoute-modal') 選択

  template#template-invoiceLine
    .column.column-invoiceLine-journalModal
      .box
        .columns.m-0.invoiceLine-journalModal
          .column-header.is-2-header
            .columns.m-0
              .column.p-0
                p.text-left-lines.font-bold 項目ID
                p.text-left-lines.mb-1.itemId.text-overflow
            .columns.m-0
              .column.p-0.column-selectbox
                input.isCheckedForInvoiceLine(type='checkbox')
          .column-header.is-5-header.itemName
            p.font-bold  内容
            p.mb-1.itemName.text-overflow
          .column-header.mr-1
            p.text-right-lines.font-bold  数量
            p.text-right-lines.mb-1.invoicedQuantity.text-overflow
          .column-header.ml-1
            p.text-left-lines.font-bold 単位
            p.text-left-lines.mb-1.unitcode.text-overflow
          .column-header
            p.text-right-lines.font-bold  単価
            p.text-right-lines.mb-1.priceAmount.text-overflow
          .column-header
            p.text-right-lines.font-bold  税
            p.text-right-lines.mb-1.tax.text-overflow
          .column-header
            p.text-right-lines.font-bold  小計 (税抜)
            p.text-right-lines.mb-1.total.text-overflow

  template#template-journal-accountCode
    .columns.m-0.base-bulkInsert-journal
      .column.p-0.lineAccountCodeForBulk(id='bulkInsertNo1')
        .columns.m-0.p-1.lineAccountcodeForBulk(id='bulkInsertNo1_lineAccountCode1')
          .column.is-two-fifths.p-0.border-div-rad-4
            .field.is-horizontal.m-1.has-addons-centered
              .field-label.is-normal.m-0.text-center
                label 勘定科目コード
              .field-label.is-normal.m-0.text-center
                label 補助科目コード
              .field-label.is-normal.m-0.is-1.fixed-void-66
                label 　
            .field.is-horizontal.p-1
              .field-body.m-1
                .field
                  p.control
                    input.input.input-accountCode(type='text' value readonly)
              .field-body.m-1
                .field
                  p.control
                    input.input.input-subAccountCode(type='text'  value readonly)
          .column.is-0.p-1
          .column.is-one-fifth.p-0.border-div-rad-4
           .field.is-horizontal.m-1.has-addons-centered
             .field-label.is-normal.m-0.text-center
               label 部門コード
             .field-label.is-normal.m-0.is-1.fixed-void-66
               label 　
           .field.is-horizontal.p-1
             .field-body.m-1
               .field
                 p.control
                   input.input.input-departmentCode(type='text'  value readonly)
          .column.is-0.p-1
          .column.is-0.p-0.column-department
          .column.is-0.p-1.column-minus-btn
            a.red-color.btn-minus-accountCode(id=`btn_minus_bulkInsertNo1_lineAccountCode1` data-target=`bulkInsertNo1_lineAccountCode`)
              i.fas.fa-minus-circle

  template#template-display-detail-approveRoute
    .columns.px-0.mx-0.is-border-left-top-bottom
      .column.text-left.is-one-fifth.is-color-table-header.is-border-right
        p 承認ルート名
      .column.is-border-right#approveRouteName
    section#displayDetailApproveRouteTable

  .modal#approveRoute-modal
    .modal-background.cancel-button(data-target='approveRoute-modal')
    .modal-card.is-family-noto-sans#search-modal-card
      header.modal-card-head.color-link-modal-header
        p.modal-card-title 承認ルート選択
        a.delete(data-target="approveRoute-modal")
      section.modal-card-body
          .columns.is-centered.m-0
            .column.p-1
              .field.is-horizontal
                .field-label.is-normal.item-title-modal-accountCode
                  label 承認ルート名
                .field-body
                  .field
                    p.control
                      input.input(type="text" id= 'searchModalApproveRoute' value)
              .control
                .field.is-grouped.is-grouped-centered
                  .columns.m-0
                    .column.p-3
                      div.button-area
                        .button.is-link#btnSearchApproveRoute(type="button") 検索

          .columns.is-centered.m-0
            .column.is-fullwidth.p-0
              p.text-center.input-label-required#searchApproveRouteModalErrMsg

          .columns.is-fullwidth.m-0
            .column.is-fullwidth.p-0
              .field.is-invisible#approveRouteResultDisplayInvisible
                .box.px-2
                  .subtitle.m-3 検索結果 
                  table.table.is-fullwidth
                    thead
                      td No
                      td 承認ルート名
                      td 承認者数
                      td 　
                      td 　
                    tbody#displayFieldApproveRouteResultBody
      footer.modal-card-foot.center-modal-footer-item
        a.button.cancel-button#CloseSearchDepartmentCode(data-target='approveRoute-modal') 閉じる

  .modal#detail-approveRoute-modal.z-index-modal
    .modal-background.cancel-button(data-target='detail-approveRoute-modal')
    .modal-card.is-family-noto-sans
      header.modal-card-head.color-link-modal-header
        p.modal-card-title 承認ルート確認
        a.delete(data-target='detail-approveRoute-modal')
      section.modal-card-body
        .box#display-detail-approveRoute
      footer.modal-card-foot.center-modal-footer-item
        a.button.cancel-button(data-target='detail-approveRoute-modal') 閉じる

  .modal#check-approval-modal
    .modal-background.cancel-button(data-target='check-approval-modal')
    .modal-card.is-family-noto-sans
      header.modal-card-head.color-link-modal-header
        p.modal-card-title 支払依頼確認
        a.delete(data-target='check-approval-modal')
      section.modal-card-body
        form#approval(method='POST', action=`/requestApproval/${documentId}`)
          input(type="hidden" name="_csrf" value=csrfToken)
          include invoiceHeader
          .box#journal-list
          include invoiceFooter
          .box#check-request-approval-message
            textarea#text-requester-message(rows='12' cols='186' name='message' readonly='readonly')
          .box#check-request-approve-route

      footer.modal-card-foot.center-modal-footer-item
        a.button.cancel-button.mr-6(data-target='check-approval-modal') キャンセル
        a.button.is-link#btn-approval 依頼

      .modal.modal-fx-fadeInscale#request-progress-modal
          .modal-background
          .modal-card
            header.modal-card-head
              p.modal-card-title
            section.modal-card-body
              center
                p.modal-card-result#modal-card-result 処理中
            footer.modal-card-foot
  include footer

block append scripts
  script(src="/js/requestApproval-page.js")
  link(rel='stylesheet', type='text/css', href='/css/requestApproval.css')