if invoiceLine.length !== 0
  each item, idx in invoiceLine
    if '明細-項目ID' in item
      .box
        .columns.m-0.invoiceLine(id=`invoiceLine${idx + 1}`)
          - for (var [key,value] of Object.entries(item))
            if key === 'id' && value.length !== 0
              .column-header.is-2-header
                p.text-left-lines.font-bold 項目ID
                p.text-left-lines.mb-1= `${invoiceLine[idx]['明細-項目ID']}`
                input(type="hidden" name='lineId' value= `${invoiceLine[idx]['明細-項目ID']}` )
                input(type="hidden" name='lineNo' value= `${invoiceLine[idx].id}`)
            if key === '明細-内容' && value.length !== 0
              .column-header.is-5-header
                p.font-bold  内容
                each subItem in value
                  if subItem.item === '内容'
                    p.mb-1.itemName= subItem.value
                  else
                    p.mb-1.itemName= `${subItem.item}： ${subItem.value}`
            if key === '明細-数量' && value.length !== 0
              .column-header.mr-1
                p.text-right-lines.font-bold  数量
                each subValue in value
                  if subValue !== 1
                    p.text-right-lines.mb-1.invoicedQuantity= subValue
                  else
                    p.text-right-lines.mb-1.invoicedQuantity= '　'

            if key === '明細-単位' && value.length !== 0
              .column-header.ml-1
                p.text-left-lines.font-bold 単位
                each subValue in value
                  if subValue !== 1
                    p.text-left-lines.mb-1.unitcode= subValue
                  else
                    p.text-left-lines.mb-1.unitcode= '　'
            if key === '明細-単価' && value.length !== 0
              .column-header
                p.text-right-lines.font-bold  単価
                each subValue in value
                  p.text-right-lines.mb-1.priceAmount= subValue
            if key === '明細-税（消費税／軽減税率／不課税／免税／非課税）' && value.length !== 0
              .column-header
                p.text-right-lines.font-bold  税
                p.text-right-lines.mb-1.tax= value
            if key === '明細-小計 (税抜)' && value.length !== 0
              .column-header
                p.text-right-lines.font-bold  小計 (税抜) 
                p.text-right-lines.mb-1= value
                  input.lineTotal(id=`lineNo${idx + 1}Total` type='hidden' value= value)
        .columns
          if item.taxTotal.taxSubtotal.category === 'G' || item.taxTotal.taxSubtotal.category === 'Z'
            .column-header
              p.text-left-lines #{item.taxTotal.taxSubtotal.name}
        .columns.m-0
          .column.is-5-header
            .column-header.text-inbox.text-inbox-subtitle.text-inbox-common
              | 仕訳情報
        .columns.m-0
          .column.p-0.lineAccountCode(id= `lineNo${idx + 1}`)
            if key === "journalize" && value.length !== 0
              each jValue, jdx in value
                if jdx ===0
                  .columns.m-0
                    .column.is-one-third.border-bottom-2px-solid.margin-left40px
                      p.text-center.font-bold 借方
                    .column.is-0.p-1.border-bottom-2px-solid
                    .column.is-one-third.border-bottom-2px-solid
                      p.text-center.font-bold 貸方
                    .column.is-0.p-1.border-bottom-2px-solid
                    .column.is-one-quarter.border-bottom-2px-solid
                      p.text-center.font-bold 計上金額              
                .columns.m-0.p-1.lineAccountcode(id= `lineNo${idx + 1}_lineAccountCode${jdx + 1}`)
                  .column.is-one-third.p-0.border-div-rad-4.margin-left40px
                    table.table.table-margin-left
                      tr
                        td.table-td-padding
                          .field.is-horizontal
                            .field-label.m-0.padding-top-halfRem            
                              label 勘定科目コード
                        td.table-td-padding
                          .field-body.m-0
                            .field.margin-left-7px
                              input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_accountCode` name=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_accountCode` value= jValue.accountCode readonly)
                      tr
                        td.table-td-padding.padding-top-0
                          .field.is-horizontal                       
                            .field-label.m-0.padding-top-halfRem 
                              label 補助科目コード
                        td.table-td-padding.padding-top-0
                          .field-body.m-0
                            .field.margin-left-7px
                              p.control
                                input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_subAccountCode` name=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_subAccountCode` value= jValue.subAccountCode readonly)
                      tr
                        td.table-td-padding.padding-top-0
                          .field.is-horizontal  
                            .field-label.m-0.padding-top-halfRem 
                              label 部門コード 
                        td.table-td-padding.padding-top-0
                          .field-body.m-0
                            .field.margin-left-7px
                              p.control
                                input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_departmentCode` name=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_departmentCode` value=jValue.departmentCode readonly)
                  .column.is-0.p-1
                  .column.is-one-third.p-0.border-div-rad-4
                    table.table.table-margin-left
                      tr
                        td.table-td-padding
                          .field.is-horizontal
                            .field-label.m-0.padding-top-halfRem            
                              label 勘定科目コード
                        td.table-td-padding
                          .field-body.m-0
                            .field.margin-left-7px            
                              input.input(type='text' id=`lineNo${idx + 1}_lineCreditAccountCode${jdx + 1}_creditAccountCode` name=`lineNo${idx + 1}_lineCreditAccountCode${jdx + 1}_creditAccountCode` value= jValue.creditAccountCode readonly)
                      tr
                        td.table-td-padding.padding-top-0
                          .field.is-horizontal                       
                            .field-label.m-0.padding-top-halfRem 
                              label 補助科目コード
                        td.table-td-padding.padding-top-0
                          .field-body.m-0
                            .field.margin-left-7px
                              p.control
                                input.input(type='text' id=`lineNo${idx + 1}_lineCreditAccountCode${jdx + 1}_creditSubAccountCode` name=`lineNo${idx + 1}_lineCreditAccountCode${jdx + 1}_creditSubAccountCode` value= jValue.creditSubAccountCode readonly)
                      tr
                        td.table-td-padding.padding-top-0
                          .field.is-horizontal  
                            .field-label.m-0.padding-top-halfRem 
                              label 部門コード 
                        td.table-td-padding.padding-top-0
                          .field-body.m-0
                            .field.margin-left-7px
                              p.control
                                input.input(type='text' id=`lineNo${idx + 1}_lineCreditAccountCode${jdx + 1}_creditDepartmentCode` name=`lineNo${idx + 1}_lineCreditAccountCode${jdx + 1}_creditDepartmentCode` value=jValue.creditDepartmentCode readonly)                   
                  .column.is-0.p-1
                  .column.is-one-quarter.p-0.border-div-rad-4
                    .field-body.p-1.margin-top-96px
                      .field.is-horizontal
                        .field-body.m-1
                          .field
                            p.control
                              input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_input_amount` name=`lineNo${idx + 1}_lineAccountCode${jdx + 1}_input_amount` class=`lineNo${idx + 1}_input_amount` readonly value= `${jValue.installmentAmount.toLocaleString('ja-JP')}`)
            else
              .columns.m-0
                .column.is-one-third.border-bottom-2px-solid.margin-left40px
                  p.text-center.font-bold 借方
                .column.is-0.p-1.border-bottom-2px-solid
                .column.is-one-third.border-bottom-2px-solid
                  p.text-center.font-bold 貸方
                .column.is-0.p-1.border-bottom-2px-solid
                .column.is-one-quarter.border-bottom-2px-solid
                  p.text-center.font-bold 計上金額              
              .columns.m-0.p-1.lineAccountcode(id= `lineNo${idx + 1}_lineAccountCode${jdx + 1}`)
                .column.is-one-third.p-0.border-div-rad-4.margin-left40px
                  table.table.table-margin-left
                    tr
                      td.table-td-padding
                        .field.is-horizontal
                          .field-label.m-0.padding-top-halfRem            
                            label 勘定科目コード
                      td.table-td-padding
                        .field-body.m-0
                          .field.margin-left-7px
                            input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode1_accountCode` name=`lineNo${idx + 1}_lineAccountCode1_accountCode` value readonly)
                    tr
                      td.table-td-padding.padding-top-0
                        .field.is-horizontal                       
                          .field-label.m-0.padding-top-halfRem 
                            label 補助科目コード
                      td.table-td-padding.padding-top-0
                        .field-body.m-0
                          .field.margin-left-7px
                            p.control
                              input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode1_subAccountCode` name=`lineNo${idx + 1}_lineAccountCode1_subAccountCode` value readonly)
                    tr
                      td.table-td-padding.padding-top-0
                        .field.is-horizontal  
                          .field-label.m-0.padding-top-halfRem 
                            label 部門コード 
                      td.table-td-padding.padding-top-0
                        .field-body.m-0
                          .field.margin-left-7px
                            p.control
                              input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode1_departmentCode` name=`lineNo${idx + 1}_lineAccountCode1_departmentCode` value readonly)
                .column.is-0.p-1
                .column.is-one-third.p-0.border-div-rad-4
                  table.table.table-margin-left
                    tr
                      td.table-td-padding
                        .field.is-horizontal
                          .field-label.m-0.padding-top-halfRem            
                            label 勘定科目コード
                      td.table-td-padding
                        .field-body.m-0
                          .field.margin-left-7px            
                            input.input(type='text' id=`lineNo${idx + 1}_lineCreditAccountCode1_creditAccountCode` name=`lineNo${idx + 1}_lineCreditAccountCode1_creditAccountCode` value readonly)
                    tr
                      td.table-td-padding.padding-top-0
                        .field.is-horizontal                       
                          .field-label.m-0.padding-top-halfRem 
                            label 補助科目コード
                      td.table-td-padding.padding-top-0
                        .field-body.m-0
                          .field.margin-left-7px
                            p.control
                              input.input(type='text' id=`lineNo${idx + 1}_lineCreditAccountCode1_creditSubAccountCode` name=`lineNo${idx + 1}_lineCreditAccountCode1_creditSubAccountCode` value readonly)
                    tr
                      td.table-td-padding.padding-top-0
                        .field.is-horizontal  
                          .field-label.m-0.padding-top-halfRem 
                            label 部門コード 
                      td.table-td-padding.padding-top-0
                        .field-body.m-0
                          .field.margin-left-7px
                            p.control
                              input.input(type='text' id=`lineNo${idx + 1}_lineCreditAccountCode1_creditDepartmentCode` name=`lineNo${idx + 1}_lineCreditAccountCode1_creidtDepartmentCode` value readonly)
                .column.is-0.p-1
                .column.is-one-quarter.p-0.border-div-rad-4
                  .field-body.p-1.margin-top-96px
                    .field.is-horizontal
                      .field-body.m-1
                        .field
                          p.control
                            input.input(type='text' id=`lineNo${idx + 1}_lineAccountCode1_input_amount` name=`lineNo${idx + 1}_lineAccountCode1_input_amount` class=`lineNo${idx + 1}_input_amount` readonly  value= item['明細-小計 (税抜)'])           
    else
      .box
        - for (var [key,value] of Object.entries(item))
          - var idx = 0
          each subitem in value
            div.paymentmean
              .columns.m-0
                - for (var [subKey,subValue] of Object.entries(subitem))
                    if (subKey === '割引-項目ID'||subKey === '追加料金-項目ID') && subValue.length !== 0
                      .column-header.is-2-header
                        p.text-left-lines= subValue
                    if (subKey === '割引-内容'||subKey === '追加料金-内容') && subValue.length !== 0
                      .column-header.is-5-header
                        p= subValue
                    if (subKey === '割引-数量'||subKey === '追加料金-数量') && subValue.length !== 0
                      .column-header.mr-1
                        p.text-right-lines= subValue
                    if (subKey === '割引-単位'||subKey === '追加料金-単位') && subValue.length !== 0
                      .column-header.ml-1
                        p.text-left-lines= subValue
                      .column-header
                        p 　
                    if (subKey === '割引-税（消費税／軽減税率／不課税／免税／非課税）'||subKey === '追加料金-税（消費税／軽減税率／不課税／免税／非課税）') && subValue.length !== 0
                      .column-header
                        p.text-right-lines= subValue
                    if (subKey === '割引-小計（税抜）'||subKey === '追加料金-小計（税抜）') && subValue.length !== 0
                      .column-header
                        p.text-right-lines= subValue
              .columns.m-0
                if allowanceCharge[idx]
                  if allowanceCharge[idx].taxCategoryId === 'G' || allowanceCharge[idx].taxCategoryId === 'Z'
                    .column-header
                      | #{allowanceCharge[idx].taxCategory}
              - idx++