extends layout
block content
  .hero.is-large
    .hero-body
      .container

  .section.is-overlay.mt-6
    .container.is-max-widescreen.is-family-noto-sans
      form#form(action="#")
        article.panel.is-info
          h2.panel-heading デジタルトレードアプリ（PoC）ご利用にあたって
          .panel-block
            .container
              p.ml-4 必要項目を入力後、利用規約に同意して「次へ」ボタンを押してください。

                //- p.ml-4.mb-4 ※法人名、担当者名、メールアドレスはTradeshiftのプロフィール情報より取得しております。
                .columns.is-centered: .column.is-four-fifths
                  //- .field.is-horizontal.row
                  .field.card
                    .card-content
                      .title.is-4 契約者名
                      .field
                        label(for="contractName") 契約者名（企業名）（必須）
                        .control
                          input.input#contractName(type="text" name="contractName" value="" pattern=inputPattarnZenkaku required maxlength=80)
                      .field
                        label(for="contractKanaName") 契約者カナ名（企業名）（必須）
                        .control
                          input.input#contractKanaName(type="text" name="contractKanaName" value="" pattern=inputPattarnZenkakuKatakana required maxlength=80)
                  
                  .field.card
                    .card-content
                      .title.is-4 契約者住所
                      .field
                        label(for="postalNumber") 郵便番号（必須）
                        .control
                          input.input#postalNumber(type="text" name="postalNumber" value="" pattern=inputPattarnHankakuNumber required maxlength=7)
                      .field
                        label(for="contractAddressTo") 都道府県（必須）
                        .control
                        select.select-register#contractAddressTo(type="select" placeholder='選択してください' name="contractAddressTo" value='' required)
                          option(value='') 都道府県を選択してください
                          option(value='北海道') 北海道
                          option(value='青森県') 青森県
                          option(value='岩手県') 岩手県
                          option(value='宮城県') 宮城県
                          option(value='秋田県') 秋田県
                          option(value='山形県') 山形県
                          option(value='福島県') 福島県
                          option(value='茨城県') 茨城県
                          option(value='栃木県') 栃木県
                          option(value='群馬県') 群馬県
                          option(value='埼玉県') 埼玉県
                          option(value='千葉県') 千葉県
                          option(value='東京都') 東京都
                          option(value='神奈川県') 神奈川県
                          option(value='新潟県') 新潟県
                          option(value='富山県') 富山県
                          option(value='石川県') 石川県
                          option(value='福井県') 福井県
                          option(value='山梨県') 山梨県
                          option(value='長野県') 長野県
                          option(value='岐阜県') 岐阜県
                          option(value='静岡県') 静岡県
                          option(value='愛知県') 愛知県
                          option(value='三重県') 三重県
                          option(value='滋賀県') 滋賀県
                          option(value='京都府') 京都府
                          option(value='大阪府') 大阪府
                          option(value='兵庫県') 兵庫県
                          option(value='奈良県') 奈良県
                          option(value='和歌山県') 和歌山県
                          option(value='鳥取県') 鳥取県
                          option(value='島根県') 島根県
                          option(value='岡山県') 岡山県
                          option(value='広島県') 広島県
                          option(value='山口県') 山口県
                          option(value='徳島県') 徳島県
                          option(value='香川県') 香川県
                          option(value='愛媛県') 愛媛県
                          option(value='高知県') 高知県
                          option(value='福岡県') 福岡県
                          option(value='佐賀県') 佐賀県
                          option(value='長崎県') 長崎県
                          option(value='熊本県') 熊本県
                          option(value='大分県') 大分県
                          option(value='宮崎県') 宮崎県
                          option(value='鹿児島県') 鹿児島県
                          option(value='沖縄県') 沖縄県
                      .field
                        label(for="contractAddressSi") 市町村（必須）
                        .control
                          input.input#contractAddressSi(type="text" name="contractAddressSi" value="" pattern=inputPattarnZenkaku required)
                      .field
                        label(for="contractAddressCho") 丁目（必須）
                        .control
                          input.input#contractAddressCho(type="text" name="contractAddressCho" value="" pattern=inputPattarnZenkaku required)
                      .field
                        label(for="banch1") 番地
                        .control
                          input.input#banch1(type="text" name="banch1" value="" pattern=inputPattarnZenkaku maxlength=20)
                      .field
                        label(for="tatemono1") 建物等
                        .control
                          input.input#tatemono1(type="text" name="tatemono1" value="" pattern=inputPattarnZenkaku maxlength=16)
                  
                  .field.card
                    .card-content
                      .title.is-4 契約者連絡先
                      .field
                        label(for="contractPersonName") 連絡先担当者名（必須）
                        .control
                          input.input#contractPersonName(type="text" name="contractPersonName" value="" required maxlength=10)
                      .field
                        label(for="contractPhoneNumber") 連絡先電話番号（必須）
                        .control
                          input.input#contractPhoneNumber(type="text" name="contractPhoneNumber" value="" pattern=inputPattarnTellNumber required maxlength=13)
                      .field
                        label(for="contractMail") 連絡先メールアドレス（必須）
                        .control
                          input.input#contractMail(type="text" name="contractMail" value="" pattern=inputPattarnMailAddress required maxlength=82)

                  .field.card
                    .card-content
                      .title.is-4 パスワード
                      p ※登録終了後、開通案内を送信します。
                      p   開通案内メールにて本パスワードを使用いただきます。
                      .field
                        label(for="password") パスワード（必須）
                        .control
                          input.input#password.form-control(type="password" name="password" value="" pattern=inputPatternKaituPW required maxlength=10)
                      .field
                        label(for="passwordConfirm") パスワード確認（必須）
                        .control 
                          input.input#passwordConfirm.form-control(type="password" name="passwordConfirm" value="" title="パスワードが間違っています。" required maxlength=10)

              .columns.is-centered: .column.is-four-fifths
                .field.is-grouped.is-grouped-left
                  //- label.label 利用規約
                iframe#terms-of-service(src="../html/terms-of-service.html" width="100%" height="600px")
                a.button#download-btn.is-pulled-right(download href="../html/terms-of-service.pdf") PDFダウンロード

              .columns.is-centered: .column.is-four-fifths
                .field.is-horizontal.is-grouped.is-grouped-centered
                  .control: label.checkbox
                    //- CSRF対策
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input.is-normal#check(name="termsCheck" type="checkbox" required="required" disabled="disabled")
                  span.checkboxtext 利用規約に同意します（最後まで利用規約をスクロールしてください）
              .columns.is-centered: .column.is-four-fifths
                .field.is-grouped.is-grouped-centered
                  .control
                    button.button.is-link#next-btn(type="submit" disabled="disabled") 次へ

        .modal.modal-fx-fadeInScale#confirmregister-modal
          .modal-background.cancel-button(data-target='confirmregister-modal')
          .modal-card
            header.modal-card-head
              p.modal-card-title 以下の内容で利用登録します。
              button.delete(type="button" data-target="confirmregister-modal")
            section.modal-card-body
              table.table.is-fullwidth.is-bordered
                tbody
                  tr
                    th(colspan="3") 契約者名
                  tr
                    td.confirmation-item(colspan="2") 契約者名（企業名）
                    td#recontractName.checkData
                  tr 
                    td.confirmation-item(colspan="2")  契約者カナ名（企業名）
                    td#recontractKanaName.checkData
        
              table.table.is-fullwidth.is-bordered
                tbody
                  tr
                    th(colspan="3") 契約者住所
                  tr
                    td.confirmation-item(colspan="2") 郵便番号
                    td#repostalNumber.checkData
                  tr 
                    td(rowspan="5") 住所
                    td 都道府県
                    td#recontractAddressTo.confirmation-content
                  tr 
                    td 市町村
                    td#recontractAddressSi.checkData
                  tr
                    td 丁目
                    td#recontractAddressCho.checkData
                  tr
                    td 番地
                    td#rebanch1.checkData
                  tr
                    td 建物等
                    td#retatemono1.checkData
              
              table.table.is-fullwidth.is-bordered
                tbody
                  tr
                    th(colspan="3") 契約者連絡先
                  tr
                    td.confirmation-item(colspan="2") 連絡先担当者名
                    td#recontractPersonName.checkData
                  tr 
                    td.confirmation-item(colspan="2") 連絡先電話番号
                    td#recontractPhoneNumber.checkData
                  tr
                    td.confirmation-item(colspan="2") 連絡先メールアドレス
                    td#recontractMail.checkData
                                  
              table.table.is-fullwidth.is-bordered
                tbody
                  tr 
                    th(colspan="3") 契約者パスワード
                  tr 
                    td.confirmation-item(colspan="2") パスワード
                    td#repassword.confirmation-content

              table.table.is-fullwidth.is-bordered
                tbody
                  tr
                    th.confirmation-item(colspan="2") 利用規約
                    td#termsCheck.confirmation-content

            footer.modal-card-foot
              button.button.is-success#submit(type="submit" formaction="/tenant/register" formmethod="POST") 登録
              a.button.cancel-button(data-target='confirmregister-modal') キャンセル

      include footer

block append scripts
  script(src="/js/register-page.js")


