extends layout
block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans 利用登録
        .subtitle.is-family-noto-sans REGISTER


    .columns.is-centered
      .column.is-11
        .container.is-max-widescreen.is-family-noto-sans
          form#form(action="#")
            article.panel.is-info
              h2.panel-heading デジタルトレードアプリご利用にあたって
              .panel-block
                .container
                  p.ml-4 必要項目を入力後、利用規約に同意して「次へ」ボタンを押してください。

                    //- p.ml-4.mb-4 ※法人名、担当者名、メールアドレスはTradeshiftのプロフィール情報より取得しております。
                    .columns.is-centered: .column.is-four-fifths
                      //- .field.is-horizontal.row
                      .field.card
                        .card-content
                          .title.is-4 契約者名
                          .field
                            label(for="contractorName").input-label 契約者名（企業名）
                            p#contractorNameRequired.input-label-required.input-label （必須）
                            .control
                              input.input#contractorName(type="text" name="contractorName" value="" pattern=inputPattarnZenkaku required maxlength=80 placeholder='全角80文字まで')
                          .field
                            label(for="contractorKanaName").input-label 契約者カナ名（企業名）
                            p#contractorKanaNameRequired.input-label-required.input-label （必須）
                            .control
                              input.input#contractorKanaName(type="text" name="contractorKanaName" value="" pattern=inputPattarnZenkakuKatakana required maxlength=80 placeholder='全角カタカナ80文字まで')

                      .field.card
                        .card-content
                          .title.is-4 契約者住所
                          .field
                            label(for="postalNumber").input-label 郵便番号
                            p#postalNumberRequired.input-label-required.input-label （必須）
                            p.input-label ※数字7桁　
                            .control
                              .columns.ml-0.pl-0
                                .column.is-one-third.pl-0
                                  input.input#postalNumber(type="text" name="postalNumber" value="" pattern=inputPattarnHankakuNumber required maxlength=7 placeholder='例：1234567')
                                .column
                                  .button.is-link.mr-3#postalSearchBtn(type="button" data-toggle="modal" data-target="#searchPostalNumber-modal" disabled) 検索
                                  .button.is-danger#postalClearBtn(type="button" disabled) クリア
                          .field
                            label(for="contractAddressVal").input-label 住所
                            p#contractAddressValRequired.input-label-required.input-label （必須）
                            .control
                              input.input#contractAddressVal(type="text" name="contractAddressVal" value readonly required)
                          .field
                            label(for="banch1").input-label 番地
                            p#banch1Required.input-label-required.input-label （必須）
                            .control
                              input.input#banch1(type="text" name="banch1" value="" pattern=inputPattarnZenkaku maxlength=20 required placeholder='全角20文字まで')
                          .field
                            label(for="tatemono1").input-label 建物等　
                            .control
                              input.input#tatemono1(type="text" name="tatemono1" value="" pattern=inputPattarnZenkaku maxlength=16 placeholder='全角16文字まで')

                      .field.card
                        .card-content
                          .title.is-4 契約者連絡先
                          .field
                            label(for="contactPersonName").input-label 連絡先担当者名
                            p#contactPersonNameRequired.input-label-required.input-label （必須）
                            .control
                              input.input#contactPersonName(type="text" name="contactPersonName" value="" pattern=inputPattarnZenkaku required maxlength=10 placeholder='全角10文字まで')
                          .field
                            label(for="contactPhoneNumber").input-label 連絡先電話番号
                            p#contactPhoneNumberRequired.input-label-required.input-label （必須）
                            p.input-label ※ハイフン含む13桁まで　
                            .control
                              input.input#contactPhoneNumber(type="text" name="contactPhoneNumber" value="" pattern=inputPattarnTellNumber required maxlength=13 placeholder='例：000-0000-0000')
                          .field
                            label(for="contactMail").input-label 連絡先メールアドレス
                            p#contactMailRequired.input-label-required.input-label （必須）
                            p.input-label ※メールアドレス　
                            .control
                              input.input#contactMail(type="text" name="contactMail" value="" pattern=inputPattarnMailAddress required maxlength=82 placeholder='例：bcd@gma.com')

                      .field.card
                        .card-content
                          .title.is-4 キャンペーンコード
                          p キャンペーンコードをお持ちの方は入力してください。
                          .field
                            label(for="campaignCode").input-label キャンペーンコード　
                            .control
                              input.input#campaignCode(type="text" name="campaignCode" value="" pattern=inputPatternCampaignCode maxlength=10 placeholder='半角英数10桁まで')

                      .field.card
                        .card-content
                          .title.is-4 パスワード
                          p ※登録終了後、開通案内を送信します。
                          p   開通案内メールにて本パスワードを使用いただきます。
                          .field
                            label(for="password").input-label パスワード
                            p#passwordRequired.input-label-required.input-label （必須）
                            p.input-label ※半角英数8~10桁（大・小文字数字必須）
                            .control
                              input.input#password.form-control(type="password" name="password" value="" pattern=inputPatternKaituPW required maxlength=10 placeholder='例：Abcd1234')
                          .field
                            label(for="passwordConfirm").input-label パスワード確認
                            p#passwordConfirmRequired.input-label-required.input-label （必須）
                            p.input-label ※半角英数8~10桁（大・小文字数字必須）
                            .control
                              input.input#passwordConfirm.form-control(type="password" name="passwordConfirm" value="" pattern=inputPatternKaituPW required maxlength=10 placeholder='例：Abcd1234')

                  .columns.is-centered: .column.is-four-fifths
                    .field.is-grouped.is-grouped-left
                      //- label.label 利用規約
                    iframe#terms-of-service(src="../html/terms-of-service_20220124.html" width="100%" height="600px")
                    a.button#download-btn.is-pulled-right(download href="../html/terms-of-service_20220124.pdf") PDFダウンロード

                  .columns.is-centered: .column.is-four-fifths
                    .field.is-horizontal.is-grouped.is-grouped-centered
                      .control: label.checkbox
                        //- CSRF対策
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input.is-normal#check(name="termsCheck" type="checkbox" required="required" disabled="disabled")
                      span.checkboxtext 利用規約に同意します（最後まで利用規約をスクロールしてください）
                  .columns.is-centered: .column.is-four-fifths
                    .field.is-grouped.is-grouped-centered
                      .control
                        button.button.is-link#next-btn(type="submit" disabled="disabled") 次へ

            .modal.modal-fx-fadeInScale#confirmregister-modal
              .modal-background.cancel-button(data-target='confirmregister-modal')

              .modal-card
                header.modal-card-head
                  p.modal-card-title 以下の内容で利用登録します。
                  button.delete(type="button" data-target="confirmregister-modal")
                section.modal-card-body
                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th(colspan="3") 契約者名
                      tr
                        td.confirmation-item(colspan="2") 契約者名（企業名）
                        td#recontractorName.checkData
                      tr
                        td.confirmation-item(colspan="2")  契約者カナ名（企業名）
                        td#recontractorKanaName.checkData

                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th(colspan="3") 契約者住所
                      tr
                        td.confirmation-item(colspan="2") 郵便番号
                        td#repostalNumber.checkData
                      tr
                        td(colspan="3") 住所
                      tr
                        td#recontractAddress.checkData.confirmation-content(colspan="3")
                  
                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th(colspan="3") 契約者連絡先
                      tr
                        td.confirmation-item(colspan="2") 連絡先担当者名
                        td#recontactPersonName.checkData
                      tr
                        td.confirmation-item(colspan="2") 連絡先電話番号
                        td#recontactPhoneNumber.checkData
                      tr
                        td.confirmation-item(colspan="2") 連絡先メールアドレス
                        td#recontactMail.checkData

                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th(colspan="3") キャンペーンコード
                      tr
                        td.confirmation-item(colspan="2") キャンペーンコード
                        td#recampaignCode.checkData

                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th(colspan="3") 契約者パスワード
                      tr
                        td.confirmation-item(colspan="2") パスワード
                        td#repassword.confirmation-content.hidetext

                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th.confirmation-item(colspan="2") 利用規約
                        td#termsCheck.confirmation-content

                footer.modal-card-foot
                  div.button-area
                    a.button.cancel-button.mr-6(data-target='confirmregister-modal') キャンセル
                    button.button.is-success#submit.success-button(type="submit" formaction="/tenant/register" formmethod="POST") 登録

            .modal.modal-fx-fadeInscale#searchPostalNumber-modal
              .modal-background.cancel-button(data-target="searchPostalNumber-modal")
              .modal-card
                header.modal-card-head
                  p.modal-card-title 住所の検索結果
                  button.delete(type="button" data-target="searchPostalNumber-modal")
                section.modal-card-body
                  p.modal-card-result#modal-card-result
                footer.modal-card-foot.modal-address-foot

  include footer

block append scripts
  script(src="/js/register-page.js" type="module")
  script(src="/js/change-page.js" type="module")