extends layout

block content
  form#form
    .max-width  
      section.hero.is-small.is-com
        .hero-body-noImage
          .title.is-family-noto-sans 請求書アップロードフォーマット設定
          .subtitle.is-family-noto-sans 対応する取込データを設定してください
      .container
        input.input(type="hidden" name="headerItems" value= headerItems) 
        input.input(type="hidden" name="uploadGeneral" value= uploadGeneral) 
        input.input(type="hidden" name="taxIds" value= taxIds) 
        input.input(type="hidden" name="unitIds" value= unitIds) 
        input.input(type="hidden" name="csvfilename" value= csvfilename)
        input.input(type="hidden" name="selectedFormatData" value= selectedFormatData)  
        .columns
          .column
            .title.is-family-noto-sans 取込データ
            .box              
              table.table.is-fullwidth.is-hoverable
                thead
                  tr
                    th.text-center データ番号
                    th.text-center 項目名
                    th.text-center データ内容
                tbody
                  each content, index in headerItems
                    tr
                      th.text-center#dataIndex(name="dataContent")= index+1
                      th.text-center#dataItem(name="dataContent")= content.item
                      th.text-center#dataValue(name="dataContent")= content.value
          .column
            .title.is-family-noto-sans 請求書データ用フォーマット
            .box
              table.table.is-fullwidth.is-hoverable
                thead
                  tr
                    th.text-center 項目名
                    th.text-center 対応するデータ番号
                tbody
                  tr
                    th 
                      label.input-label 発行日
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required 　
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[0].length !== 0
                            if ~~selectedFormatData[0] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1                           
                  tr
                    th
                      label.input-label 請求書番号
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#invoiceNumber(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[1].length !== 0
                            if ~~selectedFormatData[1] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
                  tr
                    th
                      label.input-label テナントID
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required                  
                    td.text-center
                      select.is-11.requiredItem#tenantId(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[2].length !== 0
                            if ~~selectedFormatData[2] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
                  tr
                    th
                      label.input-label 支払期日
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[3].length !== 0
                            if ~~selectedFormatData[3] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
                  tr
                    th 
                      label.input-label 納品日
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[4].length !== 0
                            if ~~selectedFormatData[4] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 備考
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[5].length !== 0
                            if ~~selectedFormatData[5] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 銀行名
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[6].length !== 0
                            if ~~selectedFormatData[6] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1   

                  tr
                    th
                      label.input-label 支店名
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[7].length !== 0
                            if ~~selectedFormatData[7] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 科目
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[8].length !== 0
                            if ~~selectedFormatData[8] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 口座番号
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[9].length !== 0
                            if ~~selectedFormatData[9] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 口座名義
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[10].length !== 0
                            if ~~selectedFormatData[10] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label その他特記事項
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[11].length !== 0
                            if ~~selectedFormatData[11] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
  
                  tr
                    th
                      label.input-label 明細-項目ID
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[12].length !== 0
                            if ~~selectedFormatData[12] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 明細-内容
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[13].length !== 0
                            if ~~selectedFormatData[13] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 明細-数量
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[14].length !== 0
                            if ~~selectedFormatData[14] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 明細-単位
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required                  
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[15].length !== 0
                            if ~~selectedFormatData[15] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 明細-単価
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[16].length !== 0
                            if ~~selectedFormatData[16] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 明細-税
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required 　
                      p （消費税／軽減税率／不課税／免税／非課税）
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[17].length !== 0
                            if ~~selectedFormatData[17] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                            
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 明細-備考
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[18].length !== 0
                            if ~~selectedFormatData[18] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
                  
        footer.modal-card-foot
          div.button-area
            button.button.mr-6#returnBasic(type="submit" formaction="/uploadFormat/cbPostBackIndex" formmethod="POST") 戻る
            button.button.is-success.success-button#confirmBtn(type="submit" formaction="/uploadFormat/cbPostDBIndex" formmethod="POST") 確認
      include footer

block append scripts
  script(src="/js/uploadFormat.js")

