extends layout

block content
  form#form
    .max-width  
      section.hero.is-small.is-com
        .hero-body-noImage
          .title.is-family-noto-sans 請求書アップロードフォーマット設定
          .subtitle.is-family-noto-sans 対応する取込データを設定してください
      .container
        .columns
          .column
            .title.is-family-noto-sans 取込データ
            .box              
              table.table.is-fullwidth.is-hoverable
                thead
                  tr
                    th.text-center データ番号
                    th.text-center 項目名  
                    th.text-center データ内容
                    input.input(type="hidden" id="checkItemNameLine" name="checkItemNameLine" value= checkItemNameLine)
                    input.input(type="hidden" id="itemRowNo" name="itemRowNo" value= itemRowNo)
                    input.input(type="hidden" id="dataStartRowNo" name="dataStartRowNo" value= dataStartRowNo)
                each content, idx in headerItems
                  tr
                    th.text-center.dataIndex(name="dataContent")= idx+1
                    th.text-center.dataItem(name="dataContent")= content.item
                    input.input(type="hidden" id="headerItems" name="headerItems" value= content.item)
                    th.text-center.dataValue(name="dataContent")= content.value
          .column
            .title.is-family-noto-sans 請求書データ用フォーマット
            .box
              table.table.is-fullwidth.is-hoverable
                thead
                  tr
                    th.text-center 項目名
                    th.text-center 対応するデータ番号
                tbody
                  tr
                    th 
                      label.input-label 発行日
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required 　
                    td.text-center
                      select.is-11.requiredItem#issueDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[0].length !== 0
                            if ~~selectedFormatData[0] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1                           
                  tr
                    th
                      label.input-label 請求書番号
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#invoiceNumber(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[1].length !== 0
                            if ~~selectedFormatData[1] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
                  tr
                    th
                      label.input-label テナントID
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required                  
                    td.text-center
                      select.is-11.requiredItem#tenantId(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[2].length !== 0
                            if ~~selectedFormatData[2] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
                  tr
                    th
                      label.input-label 支払期日
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11#paymentDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[3].length !== 0
                            if ~~selectedFormatData[3] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    
                  tr
                    th 
                      label.input-label 納品日
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11#deliveryDate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[4].length !== 0
                            if ~~selectedFormatData[4] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 備考
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11#documentDescription(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[5].length !== 0
                            if ~~selectedFormatData[5] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 銀行名
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#bankName(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[6].length !== 0
                            if ~~selectedFormatData[6] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1   

                  tr
                    th
                      label.input-label 支店名
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#financialName(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[7].length !== 0
                            if ~~selectedFormatData[7] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 科目
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#accountType(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[8].length !== 0
                            if ~~selectedFormatData[8] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 口座番号
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#accountId(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[9].length !== 0
                            if ~~selectedFormatData[9] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 口座名義
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#accountName(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[10].length !== 0
                            if ~~selectedFormatData[10] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label その他特記事項
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#note(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[11].length !== 0
                            if ~~selectedFormatData[11] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 明細-項目ID
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#sellersItemNum(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[12].length !== 0
                            if ~~selectedFormatData[12] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 明細-内容
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#itemName(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[13].length !== 0
                            if ~~selectedFormatData[13] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 明細-数量
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11.requiredItem#quantityValue(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[14].length !== 0
                            if ~~selectedFormatData[14] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 明細-単位
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required                  
                    td.text-center
                      select.is-11.requiredItem#quantityUnitCode(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[15].length !== 0
                            if ~~selectedFormatData[15] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th
                      label.input-label 明細-単価
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required 
                    td.text-center
                      select.is-11.requiredItem#priceValue(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[16].length !== 0
                            if ~~selectedFormatData[16] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                                
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 明細-税
                      p.input-label-required.input-label （必須）
                      p.errormessage.input-label-required 　
                      p （消費税／軽減税率／不課税／免税／非課税）
                    td.text-center
                      select.is-11.requiredItem#taxRate(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[17].length !== 0
                            if ~~selectedFormatData[17] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1                            
                          else
                            option(value= index)= index+1    

                  tr
                    th 
                      label.input-label 明細-備考
                      p.errormessage.input-label-required
                    td.text-center
                      select.is-11#description(name="formatData")
                        option(value='') 選択してください
                        each content, index in headerItems
                          if selectedFormatData[18].length !== 0
                            if ~~selectedFormatData[18] === index
                              option(value= index selected)= index+1
                            else
                              option(value= index)= index+1    
                          else
                            option(value= index)= index+1    
                  
        footer.modal-card-foot
          div.button-area
            button.button.is-success.success-button.mr-6#confirmBtn(type="button" data-target="confirmModify-modal") 確認
            a.button#returnBtn(href="#") 戻る

        .modal.modal-fx-fadeInscale#confirmModify-modal
          .modal-background.cancel-button(data-target="confirmModify-modal")
          .modal-card#csvFormatConfirm-modal-card
            header.modal-card-head
              p.modal-card-title 請求書アップロードフォーマット設定 確認
              button.delete(type="button" data-target="confirmModify-modal")
            section.modal-card-body
             .columns.is-mobile.is-centered: .column.is-full
              .field.card
               .card-content
                .title.is-5 基本情報
                .field
                 label(for="uploadFormatItemName") 設定名称
                 input.width-50.float-right#uploadFormatItemName(type="text" name='uploadFormatItemName' value=uploadGeneral.uploadFormatItemName readonly)
                .field
                 label(for="uploadType") アップロード種別
                 input.width-50.float-right#uploadType(type="text" name='uploadType' value=uploadGeneral.uploadType readonly)

              .field.card
               .card-content
                details(open)
                 summary.title.is-5 明細-税 識別子
                 each tax in taxIds
                  .field
                   label.margin-top-10p(for= key)= tax.itemName
                     input.width-50.float-right.tax(id=tax.id type="text" name= tax.key value= tax.value readonly)

              .field.card
               .card-content
                details(open)
                 summary.title.is-5 明細-単位 識別子
                 each unit in unitIds
                  .field
                   label.margin-top-10p(for= key)= unit.itemName
                     input.width-50.float-right.unit(id=unit.id type="text" name= unit.key value= unit.value readonly)

              .field.card
               .card-content
                 .title.text-center.is-5 請求書データ用フォーマット  →  取込データ
                 .box
                  table.table.is-fullwidth.is-hoverable
                   thead
                     tr
                       th 標準項目名
                       th
                       th.text-center ユーザフォーマット項目名
                       th.text-center データ内容
                   tbody
                    each column, idx in columnArr
                      tr
                        th= column.columnName
                        th.checkArrow
                        th.text-center.checkDataItem
                        th.text-center.checkDataValue

            footer.modal-card-foot
              div.button-area
                a.button.cancel-button.mr-6(data-target='confirmModify-modal') キャンセル
                button.button.is-success.success-button#submit(type="submit" formaction="/uploadFormat/cbPostConfirmIndex" formmethod="POST") 登録
      include footer

block append scripts
  script(src="/js/uploadFormat-page.js")

