extends layout

block content
  .max-width  
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans 請求書アップロードフォーマット設定
        .subtitle.is-family-noto-sans 対応する取込データを設定してください
    .container
      .columns
        .column
          .title.is-family-noto-sans 取込データ
          .box              
            table.table.is-fullwidth.is-hoverable
              thead
                tr
                  th.text-center データ番号
                  th.text-center 項目名
                  th.text-center データ内容
              tbody
                each content, index in headerItems
                  tr
                    th.text-center#dataIndex(name="dataContent")= index+1
                    th.text-center#dataItem(name="dataContent")= content.item
                    th.text-center#dataValue(name="dataContent")= content.value
        .column
          .title.is-family-noto-sans 請求書データ用フォーマット
          .box
            table.table.is-fullwidth.is-hoverable
              thead
                tr
                  th.text-center 項目名
                  th.text-center 対応するデータ番号
              tbody
                tr
                  th 
                    label.input-label 発行日
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required 　
                  td.text-center
                    select.is-11.requiredItem#issueDate(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[0].length !== 0
                          if ~~selectedFormatData[0] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1                           
                tr
                  th
                    label.input-label 請求書番号
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11.requiredItem#invoiceNumber(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[1].length !== 0
                          if ~~selectedFormatData[1] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    
                tr
                  th
                    label.input-label テナントID
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required                  
                  td.text-center
                    select.is-11.requiredItem#tenantId(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[2].length !== 0
                          if ~~selectedFormatData[2] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    
                tr
                  th
                    label.input-label 支払期日
                    p.errormessage.input-label-required 
                  td.text-center
                    select.is-11#paymentDate(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[3].length !== 0
                          if ~~selectedFormatData[3] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    
                tr
                  th 
                    label.input-label 納品日
                    p.errormessage.input-label-required 
                  td.text-center
                    select.is-11#deliveryDate(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[4].length !== 0
                          if ~~selectedFormatData[4] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th 
                    label.input-label 備考
                    p.errormessage.input-label-required 
                  td.text-center
                    select.is-11#documentDescription(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[5].length !== 0
                          if ~~selectedFormatData[5] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th
                    label.input-label 銀行名
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11#bankName(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[6].length !== 0
                          if ~~selectedFormatData[6] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1   

                tr
                  th
                    label.input-label 支店名
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11#financialName(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[7].length !== 0
                          if ~~selectedFormatData[7] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th
                    label.input-label 科目
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11#accountType(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[8].length !== 0
                          if ~~selectedFormatData[8] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th 
                    label.input-label 口座番号
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11#accountId(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[9].length !== 0
                          if ~~selectedFormatData[9] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th 
                    label.input-label 口座名義
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11#accountName(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[10].length !== 0
                          if ~~selectedFormatData[10] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th
                    label.input-label その他特記事項
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11#note(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[11].length !== 0
                          if ~~selectedFormatData[11] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th
                    label.input-label 明細-項目ID
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11.requiredItem#sellersItemNum(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[12].length !== 0
                          if ~~selectedFormatData[12] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th
                    label.input-label 明細-内容
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11.requiredItem#itemName(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[13].length !== 0
                          if ~~selectedFormatData[13] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th 
                    label.input-label 明細-数量
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11.requiredItem#quantityValue(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[14].length !== 0
                          if ~~selectedFormatData[14] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th
                    label.input-label 明細-単位
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required                  
                  td.text-center
                    select.is-11.requiredItem#quantityUnitCode(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[15].length !== 0
                          if ~~selectedFormatData[15] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th
                    label.input-label 明細-単価
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required 
                  td.text-center
                    select.is-11.requiredItem#priceValue(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[16].length !== 0
                          if ~~selectedFormatData[16] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    

                tr
                  th 
                    label.input-label 明細-税
                    p.input-label-required.input-label （必須）
                    p.errormessage.input-label-required 　
                    p （消費税／軽減税率／不課税／免税／非課税）
                  td.text-center
                    select.is-11.requiredItem#taxRate(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[17].length !== 0
                          if ~~selectedFormatData[17] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                            
                        else
                          option(value= index)= index+1    

                tr
                  th 
                    label.input-label 明細-備考
                    p.errormessage.input-label-required
                  td.text-center
                    select.is-11#description(name="formatData")
                      option(value='') 選択してください
                      each content, index in headerItems
                        if selectedFormatData[18].length !== 0
                          if ~~selectedFormatData[18] === index
                            option(value= index selected)= index+1
                          else
                            option(value= index)= index+1                                
                        else
                          option(value= index)= index+1    
                
      footer.modal-card-foot
        div.button-area
          //- button.button.mr-6#returnBasic(type="submit" formaction="/uploadFormat/cbPostBackIndex" formmethod="POST") 戻る
          a.button#return-btn.cancel-button(href='csvBasicFormat') 戻る
          a.button.is-success.success-button#confirmBtn(href='#') 確認

      //- .modal#csvFormatConfirm-modal
      //-   .modal-background.delete-modal(data-target='csvFormatConfirm-modal')
      //-   .modal-card.is-family-noto-sans#csvFormatConfirm-modal-card
      //-     header.modal-card-head
      //-       p.modal-card-title.title.mb-0 CSVフォーマット確認
      //-       button.delete(data-target="csvFormatConfirm-modal")
      //-     section.modal-card-body
      //-       nav.panel
      //-         form
      //-           .columns
      //-             .column.div-border 設定名称
      //-             .column.div-border #{uploadGeneral.uploadFormatItemName}
      //-               input.input(type="hidden" id="uploadFormatItemName" name="uploadFormatItemName" value= uploadGeneral.uploadFormatItemName)
      //-           .columns
      //-             .column
      //-               input.input(type="hidden" id="csvfilename" name="csvfilename" value= csvfilename)s
      //-           .columns 
      //-             .column 税 
      //-           each item, key in taxIds
      //-             .columns
      //-               .column.div-border= key
      //-               .column.div-border= item
      //-           .columns 
      //-             .column 単位
      //-           each item, key in unitIds 
      //-             .columns 
      //-               .column.div-border= key 
      //-               .column.div-border= item
      //-           .columns 
      //-             .column データ番号
      //-             .column 項目名
      //-             .column データ内容
      //-             .column →
      //-             .column 項目名
      //-             .column 対応するデータ番号
      //-           each content, idx in headerItems
      //-             .columns 
      //-               .column.div-border= idx+1
      //-               .column.div-border.td-overflow= content.item 
      //-               .column.div-border.td-overflow= content.value
      //-               .column 　
      //-               .column.div-border.td-overflow= content.moto
      //-               .column.div-border.td-overflow.displayFormatData
      //-                 input.formatData(type='hidden' name='formatData')
      //-     footer.modal-card-foot
      //-       button.delete(data-target="csvFormatConfirm-modal") キャンセル
      //-       button.button.is-success.success-button#registerBtn(type='submit') 登録
    include footer

block append scripts
  script(src="/js/uploadFormat.js")

