block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans #{uploadCommonLayoutTitle}
        .subtitle.is-family-noto-sans #{uploadCommonLayoutEngTitle}
    
    .columns.is-centered
      .column.is-11
        .box
          .columns.is-centered.uploader-columns
            .column
              form#usersUpload(action= usersUpload method='POST' enctype='multipart/form-data')
                .file.is-centered.is-medium.is-boxed.has-name.is-border.is-white
                  label.file-label.has-text-centered
                    input.file-input(type='file' name= fileInputName accept='.csv').is-purple
                    span.file-cta.inbox-size-selected-file
                      span.file-idForCodeInput
                        i.fas.fa-upload.fa-3x.title-selected-file-icon.up-selected-file-title
                      span.file-label.up-selected-file-title
                        p.td-overflow.font-is-macSystem.title-selected-file #{cautionForSelectedFile}
                      span
                        a.button.btn-primary.is-small.is-family-noto-sans.pt-0.pb-0.up-selected-file-title ファイル選択
                    span.file-name
                      p.td-overflow.is-family-noto-sans#filename             

              .mt-5.has-text-centered
                a.button.box-large.is-outlined.is-medium.is-family-noto-sans.is-link#upload(disabled) アップロード開始


              if procedureContents
                .mt-5
                  label.is-family-noto-sans-bold.tip-title #{procedureContents.procedureTitle}
                  .columns.is-centered.mt-0.mb-0
                    .column-csvupload
                      p.border #{procedureContents.procedureComment1}
                      a.border(download href= formatFileLocation) 　#{formatFileLinkText}
                      p.border #{procedureContents.procedureComment2}
                      each child, idx in procedureContents.procedureComment2Children
                        if idx === 1
                          label.input-label-pl10  　#{child}
                          div.tooltip.tip-img.float-left
                            span.tooltiptext-table
                              table.table.is-fullwidth.is-hoverable.table-fixed
                                thead
                                  tr
                                    th.text-center ロール
                                    th.text-center  番号
                                tbody
                                  tr
                                    th.width-13 テナント管理者&#10;&#13;(Company admin)
                                    td.text-center  1
                                  tr
                                    th.width-13 文書管理なしテナント管理者&#10;&#13;(Company admin without documents)
                                    td.text-center  2
                                  tr
                                    th.width-13 経理部門担当者&#10;&#13;(Accounts payable)
                                    td.text-center  3
                                  tr
                                    th.width-13 購買要求者&#10;&#13;(Requester)
                                    td.text-center  4
                                  tr
                                    th.width-13 読み取り専用&#10;&#13;(Read-only)
                                    td.text-center  5
                                  tr
                                    th.width-13 文書管理付き読み取り専用&#10;&#13;(Read-only plus documents)
                                    td.text-center  6
                                  tr
                                    th.width-13 制限されたアクセス
                                    td.text-center  7
                                  tr
                                    th.width-13 タスク管理者&#10;&#13;(Queue Manager)
                                    td.text-center  8
                                  tr
                                    th.width-13 タスクリゾルバー
                                    td.text-center  9
                                  tr
                                    th.width-13 経理部門文書担当者&#10;&#13;(Accounts payable documents handler)
                                    td.text-center  10
                                  tr
                                    th 見積書の閲覧専用&#10;&#13;(Quote documents view-only access)
                                    td.text-center  11
                                  tr
                                    th.width-13 Proforma Plans Creator
                                    td.text-center  12                                                                                                                                                                                                                                                                                                                                                                                                           
                        else 
                          p.border 　#{child}
                      p.border #{procedureContents.procedureComment3}
                      p.border #{procedureContents.procedureComment4}               

    .modal.modal-fx-fadeInscale#upload-progress-modal
        .modal-background
        .modal-card
          header.modal-card-head
            p.modal-card-title
          section.modal-card-body
            center
              p.modal-card-result#modal-card-result アップロード中
          footer.modal-card-foot
    include footer