<!DOCTYPE html>
<html lang="ja-JP">

<head>
	{{> header title='デジタルトレード 商奉行クラウド連携'}}
</head>

<body>
	{{> navber}}
	<section class="section">
		<div class="container is-fullhd">
			<div class="box">
				<nav class="breadcrumb is-clearfix" aria-label="breadcrumbs">
					<ul class="is-pulled-left">
						<li><a href="/bugyo/menu">連携トップ</a></li>
						<li class="is-active"><a href="/bugyo/send_invoice" aria-current="page">請求書発行</a></li>
					</ul>
					<div class="is-pulled-right">
						<a class="button is-link" href="{{ docManagerUrl }}" target=_top>文書管理に移動する</a>
					</div>
				</nav>
				{{#each notice}}
				<div class="notification is-light {{#if error}}is-danger{{else}}is-success{{/if}}">
					<button class="delete"></button>
					<span>{{message}}</span>
				</div>
				{{/each}}
				{{> notification}}
				<div class="block">
					<p>未発行の請求書は
						<span id="unissued" class="has-text-weight-bold is-underlined has-text-danger">{{total}}</span>
						件です。
					</p>
					<p>(最終更新日時：{{timestamp}})</p>
				</div>
				<div class="block is-clearfix">
					<div class="field is-pulled-left">
						<p class="control is-pulled-left">
							<button id="sendBtn" class="button is-large is-primary">発行する</button>
						</p>
					</div>
					<form method="POST">
						<input type="hidden" name="_csrf" value="{{ csrfToken }}">
						<div class="field is-horizontal is-pulled-right">
							<div class="field-label">
								<label class="label">抽出範囲<br/>(請求書番号)</label>
							</div>
							<div class="field-body">
								<div class="field">
									<p class="control">
										<input type="text" class="input" name="from" value="{{ from }}">
									</p>
								</div>
								<div class="field">
									<p class="is-size-5">～</p>
								</div>
								<div class="field">
									<p class="control">
										<input type="text" class="input" name="to" value="{{ to }}">
									</p>
								</div>
								<div class="field">
									<p class="control">
										<button class="button is-success">再表示</button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
				<hr>
				<div class="box">
					<div class="is-fullwidth is-clearfix">
						<div class="is-pulled-left">請求書未発行一覧</div>
						<a class="is-pulled-right" id="aboutInvoiceNo"><i class="far fa-question-circle"></i>表示される請求書について</a>
					</div>
					<table id="unissuedList" class="table is-fullwidth is-bordered">
						<thead>
							<tr>
								<th class="sort" data-sort="invoiceId">請求書番号</th>
								<th class="sort" data-sort="totalAmount">金額</th>
								<th class="sort" data-sort="customerName">請求先</i></th>
								<th class="sort" data-sort="issueDate">発行日</th>
								<th class="sort" data-sort="dueDate">期日</th>
								<th class="sort" data-sort="attachments" colspan="2">添付資料</th>
							</tr>
						</thead>
						<tbody class="list">
							{{#if invoices}}
								{{#each invoices}}
								<tr id="{{ documentId }}" {{#if error}}class="has-background-danger-light" {{/if}}
									data-invoiceId="{{ invoiceId }}" data-error="{{ error }}">
									<td class="invoiceId">{{#if error}}<span data-tooltip="{{ error }}"><i class="fa fa-exclamation-triangle has-text-danger"></i></span>{{/if}}{{ invoiceId }}</td>
									<td class="totalAmount" data-value="{{totalAmount}}">{{currency totalAmount }}</td>
									<td class="customerName">{{ customerName }}</td>
									<td class="issueDate">{{ issueDate }}</td>
									<td class="dueDate">{{ dueDate }}</td>
									<td class="attachments" style="border-right: none;" data-name="fileName">
										{{#each attachments}}
										<span class="attached-file"><a href="{{url}}">{{name}}</a><button class="delete" data-file="{{name}}"></button><br/></span>
										{{/each}}
									</td>
									<td style="border-left: none;width: 90px;"><button
											class="button is-primary is-light is-small fileAddBtn"
											data-documentId="{{ documentId }}">添付追加</button></td>
								</tr>
								{{/each}}
							{{else}}
								<tr><td colspan="7" class="has-text-centered">未発行の請求書はありません</td></tr>
							{{/if}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<div id="noticeInvoiceNo" class="modal {{#if popupNotice}}is-active{{/if}}">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title has-text-danger content">
					<i class="fas fa-exclamation-triangle"></i>
					注意 <span class="is-size-6">ご一読ください!!!</span>
				</p>
			</header>
			<section class="modal-card-body">
				{{{messages.N00001}}}
			</section>
			<footer class="modal-card-foot is-justify-content-center">
				<button class="button is-primary close-button">確認</button>
			</footer>
		</div>
	</div>
	<div id="attachFileModal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">添付ファイル追加</p>
				<button class="delete close-button" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<h3 style="white-space: nowrap;">請求書に添付するファイルを選択してください。</h3>
				<div class="file has-name is-boxed is-fullwidth">
					<label id="attachFileUpload" class="file-label">
						<input class="file-input" type="file" name="resume">
						<span class="file-cta">
							<span class="file-icon">
								<i class="fas fa-upload"></i>
							</span>
							<span class="file-label has-text-centered">ファイルを選択…</span>
						</span>
						<span class="file-name"></span>
					</label>
				</div>
			</section>
			<footer class="modal-card-foot">
				<button id="attachFileAddBtn" class="button is-success">追加する</button>
				<button class="button close-button">取消</button>
			</footer>
		</div>
	</div>
	<div id="confirmModal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">発行確認</p>
			</header>
			<section class="modal-card-body">
				<p>請求書を発行します。よろしいですか?</p>
			</section>
			<footer class="modal-card-foot">
				<button id="issue-button" class="button is-primary">はい</button>
				<button class="button close-button">いいえ</button>
			</footer>
		</div>
	</div>
</body>

<script src="/obc/js/list.min.js"></script>
<script src="/obc/js/send_invoice.js"></script>

</html>
